
@{
    ViewData["Title"] = "Find Investment Center";
}

<!---- Page Title & Date --->
<div class="row">
    <div class="element-wrapper col-md-12 pb-0">
        <h6 class="element-header">
            Investment Centers
            <span class="date-timestamp float-right">Jan 27th 2019, 7:42am</span>
        </h6>
    </div>
</div>
<!---- Investment centers list --->


<div class="row">
    <div class="col-12">

        <div class="element-box">
            <form>
                <h5 class="form-header">
                    Find an Investment Center
                </h5>


                <div class="pricing-plans row no-gutters">
                    <div class="pricing-plan col-sm-3 with-hover-effect">
                        <div class="plan-head">
                            <div class="plan-image">
                                <img alt="" src="img/location-icon.svg">
                            </div>
                            <div class="plan-name">
                                Lagos
                            </div>
                        </div>

                        <div class="plan-description">
                            <h6>
                                Ilupeju
                            </h6>
                            <ul>
                                <li>
                                    68C Coker Road By Coker/Town Planning Way llupeju, Lagos.
                                </li>

                            </ul>
                            <h6>
                                Surulere
                            </h6>

                            <ul>
                                <li>
                                    86 Adeniran Ogunsanya Street, Surulere, Lagos
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="pricing-plan col-sm-3 with-hover-effect">
                        <div class="plan-head">
                            <div class="plan-image">
                                <img alt="" src="img/location-icon.svg">
                            </div>
                            <div class="plan-name">
                                Abuja
                            </div>
                        </div>

                        <div class="plan-description">
                            <h6>
                                Wuse
                            </h6>
                            <ul>
                                <li>
                                    129 Adetokunbo Ademola Cresent, Wuse 11, Abuja

                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricing-plan col-sm-3 with-hover-effect">
                        <div class="plan-head">
                            <div class="plan-image">
                                <img alt="" src="img/location-icon.svg">
                            </div>
                            <div class="plan-name">
                                Rivers
                            </div>
                        </div>

                        <div class="plan-description">

                            <h6>
                                Port-Harcourt
                            </h6>
                            <ul>
                                <li>
                                    12 Circular Road, Presidential Estate ll Off GRA Junction, Port-Harcourt
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricing-plan col-sm-3 with-hover-effect">
                        <div class="plan-head">
                            <div class="plan-image">
                                <img alt="" src="img/location-icon.svg">
                            </div>
                            <div class="plan-name">
                                Anambra
                            </div>
                        </div>

                        <div class="plan-description">

                            <h6>
                                Onitsha
                            </h6>
                            <ul>
                                <li>
                                    60A Old Market Road, Onitsha
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>