@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--- BreadCrumb Area-->

<div class="breadcrumbs__section breadcrumbs__section-dark bg__style mt-80 mb-30 pt-80 pb-80 lazyload" data-bg="img/alternative-banner.jpg" data-brk-library="component__breadcrumbs_css">
    <div class="brk-base-bg-6 breadcrumb-bg full__size-absolute"></div>
    <h2 class="font__size-40 line__height-46 font__family-montserrat font__weight-ultralight text-center"><span class="font__weight-bold">Trustees</span></h2>
    <div class="breadcrumbs__wrapper">
        <div class="container">
            <ol class="breadcrumb font__family-montserrat font__weight-medium font__size-12 letter-spacing-100">
                <li class="breadcrumb__icon"><a href="#"><i class="fas fa-home"></i></a></li>

                <li class="active">Trustees</li>
            </ol>
        </div>
    </div>
</div>

<h1 class="sr-only">Securities</h1>
<!---- Category intro section -->
<section class="brk-sc-item-page-header mb-30">
    <div class="brk-sc-item-page-header__info pt-100">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Category Title and intro text -->

                    <div class="mt-20 text-center">

                        <h2 class="title__heading-01 font__family-montserrat font__size-50 font__weight-bold title__heading-main wow zoomIn" data-brk-library="component__title">Trustees</h2>
                        <h4 class="title__heading-01 title__heading-sub font__family-montserrat font__size-21" data-brk-library="component__title">GET FAMILIAR WITH TRUSTEES</h4>
                        <hr class="title__heading-01 divider" data-brk-library="component__title">
                    </div>
                    <div class=" mt-30">
                        <p class="font__family-montserrat font__size-16 line__height-26">
                            Regardless of your risk appetite or investment goal, you’ll find a mutual fund that suits you just fine. Mutual funds typically pool funds from multiple investors and invest in verifiable instruments such as government
                            bonds.
                        </p>
                        <p class="font__family-montserrat font__size-16 line__height-26">Although the interest rate offered on all our Mutual funds are not static, they are always competitive and substantial.</p>
                        <p class="font__family-montserrat font__size-16 line__height-26 pt-10">Our range of mutual funds cater to different needs and the funds have different levels of risk exposure. Compare them below:</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--- Fund Comparism table-->
<section>

    <div class="container">
        <div class="brk-tables brk-tables-compare brk-tables-trend brk-styled-scroll-y brk-styled-scroll-x font__family-montserrat" data-brk-library="component__tables">
            <table class="table-responsive">
                <thead>
                    <tr style="">
                        <th scope="col "></th>
                        <th scope="col ">ARM Money Market Fund</th>
                        <th scope="col ">ARM Aggressive Growth Fund</th>
                        <th scope="col ">ARM Discovery Fund</th>
                        <th scope="col ">ARM Ethical Fund</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td><img src="img/mmf.jpg " data-src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt=" shop-item "></td>
                        <td><img src="img/agf.jpg " data-src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt=" shop-item "></td>
                        <td><img src="img/df.jpg " data-src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt=" shop-item "></td>
                        <td><img src="img/ef.jpg " data-src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt=" shop-item "></td>
                    </tr>

                    <tr>
                        <td>Minimum Investment</td>
                        <td>
                            <h6>Minimum initial investment <span class="brk-base-font-color font__weight-bold ">&#8358;1,000</span></h6>
                            <hr>
                            <h6>Minimum additional investment <span class="brk-base-font-color font__weight-bold ">&#8358;1,000</span></h6>
                        </td>
                        <td>
                            <h6>Minimum initial investment <span class="brk-base-font-color font__weight-bold ">&#8358;50,000</span></h6>
                            <hr>
                            <h6>Minimum additional investment <span class="brk-base-font-color font__weight-bold ">&#8358;10,000</span></h6>
                        </td>
                        <td>
                            <h6>Minimum initial investment <span class="brk-base-font-color font__weight-bold ">&#8358;10,000</span></h6>
                            <hr>
                            <h6>Minimum additional investment <span class="brk-base-font-color font__weight-bold ">&#8358;5,000</span></h6>
                        </td>
                        <td>
                            <h6>Minimum initial investment <span class="brk-base-font-color font__weight-bold ">&#8358;10,000</span></h6>
                            <hr>
                            <h6>Minimum additional investment <span class="brk-base-font-color font__weight-bold ">&#8358;5,000</span></h6>
                        </td>
                    </tr>
                    <tr>
                        <td>Risk Level</td>
                        <td>
                            <h6>Low </h6>
                        </td>
                        <td>
                            <h6>High</h6>
                        </td>
                        <td>
                            <h6>Moderate </h6>
                        </td>
                        <td>
                            <h6>High</h6>
                        </td>
                    </tr>
                    <tr>
                        <td>What the Fund invests in</td>
                        <td>
                            <h6>Short-term government securities: <span class="brk-base-font-color font__weight-bold ">25% – 95%</span></h6>
                            <hr>
                            <h6>Other money market instruments: <span class="brk-base-font-color font__weight-bold ">5% – 75%</span></h6>
                        </td>
                        <td>
                            <h6>Equities: <span class="brk-base-font-color font__weight-bold ">75% – 100%</span></h6>
                            <hr>
                            <h6>Fixed income securities: <span class="brk-base-font-color font__weight-bold ">0% – 25%</span></h6>
                        </td>
                        <td>
                            <h6>Equities: <span class="brk-base-font-color font__weight-bold ">40% – 75%</span></h6>
                            <hr>
                            <h6>Fixed income securities: <span class="brk-base-font-color font__weight-bold ">25% – 60%</span></h6>
                            <hr>
                            <h6>Real estate: <span class="brk-base-font-color font__weight-bold ">0% – 30%</span></h6>
                            <hr>
                            <h6>Cash: <span class="brk-base-font-color font__weight-bold ">0% – 5%</span></h6>
                        </td>
                        <td>
                            <h6>Equities: <span class="brk-base-font-color font__weight-bold ">30% – 60%</span></h6>
                            <hr>
                            <h6>Real estate: <span class="brk-base-font-color font__weight-bold ">10% – 60%</span></h6>
                            <hr>
                            <h6>Other Investments: <span class="brk-base-font-color font__weight-bold ">10% – 50%</span></h6>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <a href="# " class="btn-backgrounds btn-backgrounds_left-icon btn-backgrounds_200 btn-backgrounds_md btn-backgrounds_dark-classic btn-shadow-small font__family-montserrat font__weight-semibold text-uppercase font__size-15
                                mb-15 " data-brk-library="component__button "><span class="text ">Invest now</span><span class="before "><i class="fas fa-coins "></i></span></a>
                        </td>
                        <td>
                            <a href="# " class="btn-backgrounds btn-backgrounds_left-icon btn-backgrounds_200 btn-backgrounds_md btn-backgrounds_dark-classic btn-shadow-small font__family-montserrat font__weight-semibold text-uppercase font__size-15
                                mb-15 " data-brk-library="component__button "><span class="text ">Invest now</span><span class="before "><i class="fas fa-coins "></i></span></a>
                        </td>
                        <td>
                            <a href="# " class="btn-backgrounds btn-backgrounds_left-icon btn-backgrounds_200 btn-backgrounds_md btn-backgrounds_dark-classic btn-shadow-small font__family-montserrat font__weight-semibold text-uppercase font__size-15
                                mb-15 " data-brk-library="component__button "><span class="text ">Invest now</span><span class="before "><i class="fas fa-coins "></i></span></a>
                        </td>
                        <td>
                            <a href="# " class="btn-backgrounds btn-backgrounds_left-icon btn-backgrounds_200 btn-backgrounds_md btn-backgrounds_dark-classic btn-shadow-small font__family-montserrat font__weight-semibold text-uppercase font__size-15
                                mb-15 " data-brk-library="component__button "><span class="text ">Invest now</span><span class="before "><i class="fas fa-coins "></i></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>