

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* Custom paddings/margins */
/*-------------------------------------------------------------------------------------------------------------------------------*/

.marg-lr0 {margin-left:0px;margin-right:0px;}
.padd-lr0 {padding-left:0px;padding-right:0px;}
.padd-lr15 {padding: 0px 15px;}
.padd-lr30 {padding: 0px 30px;}
.padd-35-30 {padding: 35px 30px;}
.padd-30-25 {padding: 30px 25px;}
.padd-lg-25 {padding:  25px;}
.padding-lg-r25{
    padding-right: 25px;
}
.padding-lg-t25{
    padding-top: 25px;
}
.padding-lg-l25{
    padding-left: 25px;
}


$step: 5;
$count: 60;

@for $i from 0 through $count {
    .margin-lg-t#{$step*$i} {
        margin-top: 0px+$step*$i;
    }
}

@for $i from 0 through $count {
    .margin-lg-b#{$step*$i} {
        margin-bottom: 0px+$step*$i;
    }
}

@for $i from 0 through $count {
    .padding-lg-t#{$step*$i} {
        padding-top: 0px+$step*$i;
    }
}

@for $i from 0 through $count {
    .padding-lg-b#{$step*$i} {
        padding-bottom: 0px+$step*$i;
    }
}


@media screen and (max-width: 1199px) {
    @for $i from 0 through $count {
        .margin-md-t#{$step*$i} {
            margin-top: 0px+$step*$i;
        }
    }

    @for $i from 0 through $count {
        .margin-md-b#{$step*$i} {
            margin-bottom: 0px+$step*$i;
        }
    }

    @for $i from 0 through $count {
        .padding-md-t#{$step*$i} {
            padding-top: 0px+$step*$i;
        }
    }

    @for $i from 0 through $count {
        .padding-md-b#{$step*$i} {
            padding-bottom: 0px+$step*$i;
        }
    }    
}

@media screen and (max-width: 991px) {
    @for $i from 0 through $count {
        .margin-sm-t#{$step*$i} {
            margin-top: 0px+$step*$i;
        }
    }

    @for $i from 0 through $count {
        .margin-sm-b#{$step*$i} {
            margin-bottom: 0px+$step*$i;
        }
    }

    @for $i from 0 through $count {
        .padding-sm-t#{$step*$i} {
            padding-top: 0px+$step*$i;
        }
    }

    @for $i from 0 through $count {
        .padding-sm-b#{$step*$i} {
            padding-bottom: 0px+$step*$i;
        }
    }    
}
@media screen and (max-width: 992px) {
        .padding-sm10{
        padding: 10px;
    }
    .padding-sm-r0{
        padding-right: 0;
    }

}
@media screen and (max-width: 768px) {
   .padding-xs-l0{
    padding-left: 0;

    }
    .padding-xs-r0{
padding-right: 0;
    }
    .padding-xs10{
        padding: 10px;
    }

}
@media screen and (max-width: 767px) {
    @for $i from 0 through $count {
        .margin-xs-t#{$step*$i} {
            margin-top: 0px+$step*$i;
        }
    }

    @for $i from 0 through $count {
        .margin-xs-b#{$step*$i} {
            margin-bottom: 0px+$step*$i;
        }
    }

    @for $i from 0 through $count {
        .padding-xs-t#{$step*$i} {
            padding-top: 0px+$step*$i;
        }
    }

    @for $i from 0 through $count {
        .padding-xs-b#{$step*$i} {
            padding-bottom: 0px+$step*$i;
        }
    } 
}