@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutStore.cshtml";
}

    <h1 class="sr-only">ARM Money Market Fund</h1>
        <!---- Product Information -->
        <section class="brk-sc-item-page-header mb-30" data-brk-library="component__shop_item_page">
            <div class="brk-sc-item-page-header__info pt-150">

                <div class="container">

                    <div class="row">
                        <div class="col-lg-5">
                            <!-- Product Image -->
                            <div class="order-xl-1 text-center"><span class=""></span>
                                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                     data-src="custom-store/img/businessman.jpg" class="prod-image lazyload" alt="alt"></div>
                        </div>
                        <div class="col-12 col-lg-7">
                            <div class="container mt-15 mt-md-25">
                                <!-- Product Category -->
                                <h5 class="font__family-varela-round highlight-trend font__size-14" data-brk-library="component__title">Mutual Funds</h5>
                                <!-- Product Name -->
                                <h2 class="font__family-varela-round font__weight-bold font__size-48 line__height-52 mt-30" data-brk-library="component__title">ARM Money Market Fund</h2>
                                <div class="divider-layers wow zoomIn product-divider-marg" data-brk-library="component__title"><span class="before"></span></div>
                                <!-- Product Description -->
                                <h5 class="text-gray-light font__family-varela-round line__height-26 font__size-18 letter-spacing-20 text-justify" data-brk-library="component__title">The ARM Money Market Fund offers a higher interest rate on your savings than a traditional savings account. And it doesn’t have to be long term; the ARM MMF allows you quick access to your money, competitive interest rates,
                                    regular tax free returns and expert fund management.</h5>

                                <hr>
                                <!-- Enter Amount-->
                                <div>
                                    <h4 class="font__family-varela-round text-uppercase font__size-20 mb-10 mt-20">Enter the Amount you wish to Invest</h4>
                                    <form class="brk-form-round brk-form-round-btn-inside-full w-100"><input type="text" placeholder="enter amount"> <button class="btn btn-inside-out btn-lg border-radius-30 btn-shadow mx-0 my-0" data-brk-library="component__button"><span class="before">invest now</span><span class="text">invest now</span><span class="after">invest now</span></button></form>
                                    <p class="font__family-playfair p font__weight-normal font__style-italic mt-1">Starting from as low as &#8358;1000</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!---- More Info Area -->
        <section class="brk-sc-item-page-body pt-20 pb-20">

            <div class="container mb-30">
                <div class="brk-tabs brk-tabs-simple" data-hash="true" data-brk-library="component__tabs">
                    <ul class="brk-tabs-nav font__family-varela-round font__weight-bold">
                        <li class="brk-tab"><i class="fab fa-delicious" aria-hidden="true"></i><span>More Info</span></li>
                        <li class="brk-tab"><i class="fab fa-delicious" aria-hidden="true"></i><span>Key Benefits</span></li>
                        <li class="brk-tab"><i class="fab fa-delicious" aria-hidden="true"></i><span>Key Features</span></li>
                        <li class="brk-tab"><i class="fab fa-delicious" aria-hidden="true"></i><span>Investment Management</span></li>
                        <li class="brk-tab"><i class="fab fa-delicious" aria-hidden="true"></i><span>How to Begin</span></li>
                    </ul>
                    <div class="brk-tabs-content">
                        <div class="brk-tab-item text-center text-lg-left">
                            <!-- More Info -->
                            <div class="row">
                                <div class="col-lg-9 col-md-7">

                                    <h2 class="font__family-varela-round text-uppercase font__size-24 mb-10">The fund invests in:</h2>
                                    <div class=" mb-5">
                                        <ul class="list-inline-2" data-brk-library="component__list">
                                            <li class="font__family-varela-round font__size-16 font__weight-bold"><span class="text"><span class="cirlce"><span class="before"></span><span class="after"></span></span>Government securities: 25% – 95%</span>
                                            </li>
                                            <li class="font__family-varela-round font__size-16 font__weight-bold"><span class="text"><span class="cirlce"><span class="before"></span><span class="after"></span></span>Other money market instruments such as Bankers’ Acceptances, certificates of deposits, commercial papers,
                                                collaterised repurchase agreements etc.: 5% – 75%</span>
                                            </li>
                                        </ul>
                                    </div>

                                    <h2 class="font__family-varela-round text-uppercase font__size-24 mb-10">Who is this for</h2>
                                    <ul class="list-inline-2" data-brk-library="component__list">
                                        <li class="font__family-varela-round font__size-16 font__weight-bold"><span class="text"><span class="cirlce"><span class="before"></span><span class="after"></span></span> Do you currently have cash in a savings or current account and thinking of a Money Market Fund?</span>
                                        </li>
                                        <li class="font__family-varela-round font__size-16 font__weight-bold"><span class="text"><span class="cirlce"><span class="before"></span><span class="after"></span></span> Do you wish that money could yield higher returns without the hassle of withholding tax and bank charges?</span>
                                        </li>
                                        <li class="font__family-varela-round font__size-16 font__weight-bold"><span class="text"><span class="cirlce"><span class="before"></span><span class="after"></span></span> Are you saving up for your special day, payment of school fees or your dream holiday?</span>
                                        </li>
                                        <li class="font__family-varela-round font__size-16 font__weight-bold"><span class="text"><span class="cirlce"><span class="before"></span><span class="after"></span></span> Or trying to save enough money to start a business or acquire that asset?</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 col-md-5">
                                    <figure class="shape-box__wrapper-inline" data-brk-library="component__shape_box"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="custom-store/img/businessman.jpg" alt="alt" class="lazyload">
                                        <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
                                        <figcaption>
                                            <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" viewBox="0 0 60 60">
                                                                <path fill="none" stroke="#9CAAB9" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M42,31h1.43l0.35,2.94l2.65,1.1L49,33l2,2l-2.04,2.56l1.1,2.65L53,40.57v2.87l-2.94,0.35l-1.1,2.65L51,49l-2,2l-2.56-2.04l-2.65,1.1L43.43,53h-2.87l-0.35-2.94l-2.65-1.1L35,51l-2-2l2.04-2.56l-1.1-2.65L31,43.43v-2.87l2.94-0.35l1.1-2.65L33,35l2-2l2.56,2.04l2.65-1.1L40.57,31H42zM42,39c-1.66,0-3,1.34-3,3c0,1.66,1.34,3,3,3c1.66,0,3-1.34,3-3C45,40.34,43.66,39,42,39z" />
                                                                <path fill="none" stroke="#95A5A6" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M23,7h1.04l1.01,4.31l2.02,0.54l3.03-3.23l1.81,1.04l-1.28,4.23l1.48,1.48l4.23-1.28l1.05,1.81l-3.22,3.03l0.54,2.02L39,21.96l0,2.08l-4.31,1.01l-0.54,2.02l3.22,3.03l-1.04,1.81l-4.23-1.28l-1.48,1.48l1.28,4.23l-1.81,1.05l-3.03-3.23l-2.02,0.54L24.04,39l-2.09,0l-1.01-4.31l-2.02-0.54l-3.02,3.23l-1.81-1.04l1.28-4.23l-1.48-1.48L9.66,31.9L8.62,30.1l3.23-3.03l-0.54-2.02L7,24.04l0-2.09l4.31-1.01l0.54-2.02L8.62,15.9l1.04-1.81l4.24,1.28l1.48-1.48L14.1,9.66l1.81-1.04l3.03,3.23l2.02-0.54L21.96,7H23zM23,17c-3.31,0-6,2.68-6,6c0,3.31,2.68,6,6,6c3.31,0,6-2.69,6-6C29,19.68,26.31,17,23,17z" /></svg></div>
                                            <h4 class="font__family-varela-round font__weight-bold font__size-24 text-uppercase main-title text-center">ARM Money Market Fund</h4>
                                            <p class="main-description font__family-open-sans font__size-14 text-gray text-center">Investments and Savings made easy</p><a href="#" class="btn btn-inside-out btn-lg border-radius-30 font__weight-bold" data-brk-library="component__button"><span class="before">invest now</span><span class="text">invest now</span><span class="after">invest now</span></a>
                                        </figcaption><span class="after"></span>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="brk-tab-item text-center text-lg-left">
                            <!-- Key Benefits -->
                            <div class="row">
                                <div class="col-lg-9 col-md-6">
                                    <h2 class="font__family-varela-round text-uppercase font__size-24 mb-40">Key Benefits</h2>
                                    <ul class="list-inline-2" data-brk-library="component__list">
                                        <li class="font__family-varela-round font__size-16 font__weight-bold"><span class="text"><span class="cirlce"><span class="before"></span><span class="after"></span></span> Capital Preservation</span>
                                        </li>
                                        <li class="font__family-varela-round font__size-16 font__weight-bold"><span class="text"><span class="cirlce"><span class="before"></span><span class="after"></span></span> Quarterly interest payments</span>
                                        </li>
                                        <li class="font__family-varela-round font__size-16 font__weight-bold"><span class="text"><span class="cirlce"><span class="before"></span><span class="after"></span></span> Competitive interest rates</span>
                                        </li>
                                        <li class="font__family-varela-round font__size-16 font__weight-bold"><span class="text"><span class="cirlce"><span class="before"></span><span class="after"></span></span>Expert fund management</span>
                                        </li>
                                        <li class="font__family-varela-round font__size-16 font__weight-bold"><span class="text"><span class="cirlce"><span class="before"></span><span class="after"></span></span> Quick access to your money</span>
                                        </li>
                                        <li class="font__family-varela-round font__size-16 font__weight-bold"><span class="text"><span class="cirlce"><span class="before"></span><span class="after"></span></span> Multiple & convenient payment options</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <figure class="shape-box__wrapper-inline" data-brk-library="component__shape_box"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="custom-store/img/businessman.jpg" alt="alt" class="lazyload">
                                        <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
                                        <figcaption>
                                            <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" viewBox="0 0 60 60">
                                                            <path fill="none" stroke="#9CAAB9" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M42,31h1.43l0.35,2.94l2.65,1.1L49,33l2,2l-2.04,2.56l1.1,2.65L53,40.57v2.87l-2.94,0.35l-1.1,2.65L51,49l-2,2l-2.56-2.04l-2.65,1.1L43.43,53h-2.87l-0.35-2.94l-2.65-1.1L35,51l-2-2l2.04-2.56l-1.1-2.65L31,43.43v-2.87l2.94-0.35l1.1-2.65L33,35l2-2l2.56,2.04l2.65-1.1L40.57,31H42zM42,39c-1.66,0-3,1.34-3,3c0,1.66,1.34,3,3,3c1.66,0,3-1.34,3-3C45,40.34,43.66,39,42,39z" />
                                                            <path fill="none" stroke="#95A5A6" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M23,7h1.04l1.01,4.31l2.02,0.54l3.03-3.23l1.81,1.04l-1.28,4.23l1.48,1.48l4.23-1.28l1.05,1.81l-3.22,3.03l0.54,2.02L39,21.96l0,2.08l-4.31,1.01l-0.54,2.02l3.22,3.03l-1.04,1.81l-4.23-1.28l-1.48,1.48l1.28,4.23l-1.81,1.05l-3.03-3.23l-2.02,0.54L24.04,39l-2.09,0l-1.01-4.31l-2.02-0.54l-3.02,3.23l-1.81-1.04l1.28-4.23l-1.48-1.48L9.66,31.9L8.62,30.1l3.23-3.03l-0.54-2.02L7,24.04l0-2.09l4.31-1.01l0.54-2.02L8.62,15.9l1.04-1.81l4.24,1.28l1.48-1.48L14.1,9.66l1.81-1.04l3.03,3.23l2.02-0.54L21.96,7H23zM23,17c-3.31,0-6,2.68-6,6c0,3.31,2.68,6,6,6c3.31,0,6-2.69,6-6C29,19.68,26.31,17,23,17z" /></svg></div>
                                            <h4 class="font__family-varela-round font__weight-bold font__size-24 text-uppercase main-title text-center">ARM Money Market Fund</h4>
                                            <p class="main-description font__family-open-sans font__size-14 text-gray text-center">Investments and Savings made easy</p><a href="#" class="btn btn-inside-out btn-lg border-radius-30 font__weight-bold" data-brk-library="component__button"><span class="before">invest now</span><span class="text">invest now</span><span class="after">invest now</span></a>
                                        </figcaption><span class="after"></span>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="brk-tab-item text-center text-lg-left">
                            <!-- Key Features -->
                            <div class="row">
                                <div class="col-lg-9 col-md-6">
                                    <h2 class="font__family-varela-round text-uppercase font__size-24 mb-40">Key Features</h2>
                                    <ul class="list-inline-2" data-brk-library="component__list">
                                        <li class="font__family-varela-round font__size-16 font__weight-bold"><span class="text"><span class="cirlce"><span class="before"></span><span class="after"></span></span> Low risk mutual fund</span>
                                        </li>
                                        <li class="font__family-varela-round font__size-16 font__weight-bold"><span class="text"><span class="cirlce"><span class="before"></span><span class="after"></span></span> Regulated by the SEC</span>
                                        </li>
                                        <li class="font__family-varela-round font__size-16 font__weight-bold"><span class="text"><span class="cirlce"><span class="before"></span><span class="after"></span></span> Listed on the NSE</span>
                                        </li>
                                        <li class="font__family-varela-round font__size-16 font__weight-bold"><span class="text"><span class="cirlce"><span class="before"></span><span class="after"></span></span> Invests in verifiable instruments</span>
                                        </li>
                                        <li class="font__family-varela-round font__size-16 font__weight-bold"><span class="text"><span class="cirlce"><span class="before"></span><span class="after"></span></span> Suitable for short term or long term investment</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <figure class="shape-box__wrapper-inline" data-brk-library="component__shape_box"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="custom-store/img/businessman.jpg" alt="alt" class="lazyload">
                                        <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
                                        <figcaption>
                                            <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" viewBox="0 0 60 60">
                                                            <path fill="none" stroke="#9CAAB9" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M42,31h1.43l0.35,2.94l2.65,1.1L49,33l2,2l-2.04,2.56l1.1,2.65L53,40.57v2.87l-2.94,0.35l-1.1,2.65L51,49l-2,2l-2.56-2.04l-2.65,1.1L43.43,53h-2.87l-0.35-2.94l-2.65-1.1L35,51l-2-2l2.04-2.56l-1.1-2.65L31,43.43v-2.87l2.94-0.35l1.1-2.65L33,35l2-2l2.56,2.04l2.65-1.1L40.57,31H42zM42,39c-1.66,0-3,1.34-3,3c0,1.66,1.34,3,3,3c1.66,0,3-1.34,3-3C45,40.34,43.66,39,42,39z" />
                                                            <path fill="none" stroke="#95A5A6" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M23,7h1.04l1.01,4.31l2.02,0.54l3.03-3.23l1.81,1.04l-1.28,4.23l1.48,1.48l4.23-1.28l1.05,1.81l-3.22,3.03l0.54,2.02L39,21.96l0,2.08l-4.31,1.01l-0.54,2.02l3.22,3.03l-1.04,1.81l-4.23-1.28l-1.48,1.48l1.28,4.23l-1.81,1.05l-3.03-3.23l-2.02,0.54L24.04,39l-2.09,0l-1.01-4.31l-2.02-0.54l-3.02,3.23l-1.81-1.04l1.28-4.23l-1.48-1.48L9.66,31.9L8.62,30.1l3.23-3.03l-0.54-2.02L7,24.04l0-2.09l4.31-1.01l0.54-2.02L8.62,15.9l1.04-1.81l4.24,1.28l1.48-1.48L14.1,9.66l1.81-1.04l3.03,3.23l2.02-0.54L21.96,7H23zM23,17c-3.31,0-6,2.68-6,6c0,3.31,2.68,6,6,6c3.31,0,6-2.69,6-6C29,19.68,26.31,17,23,17z" /></svg></div>
                                            <h4 class="font__family-varela-round font__weight-bold font__size-24 text-uppercase main-title text-center">ARM Money Market Fund</h4>
                                            <p class="main-description font__family-open-sans font__size-14 text-gray text-center">Investments and Savings made easy</p><a href="#" class="btn btn-inside-out btn-lg border-radius-30 font__weight-bold" data-brk-library="component__button"><span class="before">invest now</span><span class="text">invest now</span><span class="after">invest now</span></a>
                                        </figcaption><span class="after"></span>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="brk-tab-item text-center text-lg-left">
                            <!-- Investment Management-->
                            <div class="row">
                                <div class="col-lg-9">
                                    <h2 class="font__family-varela-round text-uppercase font__size-24 mb-40">Investment Management</h2>
                                    <ul class="list-inline-2" data-brk-library="component__list">
                                        <li class="font__family-varela-round font__size-16 font__weight-bold"><span class="text"><span class="cirlce"><span class="before"></span><span class="after"></span></span> View accrued interests</span>
                                        </li>
                                        <li class="font__family-varela-round font__size-16 font__weight-bold"><span class="text"><span class="cirlce"><span class="before"></span><span class="after"></span></span> Redeem funds online</span>
                                        </li>
                                        <li class="font__family-varela-round font__size-16 font__weight-bold"><span class="text"><span class="cirlce"><span class="before"></span><span class="after"></span></span> View account statements</span>
                                        </li>
                                        <li class="font__family-varela-round font__size-16 font__weight-bold"><span class="text"><span class="cirlce"><span class="before"></span><span class="after"></span></span> Set up or cancel direct debit</span>
                                        </li>

                                        <li class="font__family-varela-round font__size-16 font__weight-bold"><span class="text"><span class="cirlce"><span class="before"></span><span class="after"></span></span> Top up and initiate new investments</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-3">
                                    <figure class="shape-box__wrapper-inline" data-brk-library="component__shape_box"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="custom-store/img/businessman.jpg" alt="alt" class="lazyload">
                                        <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
                                        <figcaption>
                                            <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" viewBox="0 0 60 60">
                                                            <path fill="none" stroke="#9CAAB9" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M42,31h1.43l0.35,2.94l2.65,1.1L49,33l2,2l-2.04,2.56l1.1,2.65L53,40.57v2.87l-2.94,0.35l-1.1,2.65L51,49l-2,2l-2.56-2.04l-2.65,1.1L43.43,53h-2.87l-0.35-2.94l-2.65-1.1L35,51l-2-2l2.04-2.56l-1.1-2.65L31,43.43v-2.87l2.94-0.35l1.1-2.65L33,35l2-2l2.56,2.04l2.65-1.1L40.57,31H42zM42,39c-1.66,0-3,1.34-3,3c0,1.66,1.34,3,3,3c1.66,0,3-1.34,3-3C45,40.34,43.66,39,42,39z" />
                                                            <path fill="none" stroke="#95A5A6" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M23,7h1.04l1.01,4.31l2.02,0.54l3.03-3.23l1.81,1.04l-1.28,4.23l1.48,1.48l4.23-1.28l1.05,1.81l-3.22,3.03l0.54,2.02L39,21.96l0,2.08l-4.31,1.01l-0.54,2.02l3.22,3.03l-1.04,1.81l-4.23-1.28l-1.48,1.48l1.28,4.23l-1.81,1.05l-3.03-3.23l-2.02,0.54L24.04,39l-2.09,0l-1.01-4.31l-2.02-0.54l-3.02,3.23l-1.81-1.04l1.28-4.23l-1.48-1.48L9.66,31.9L8.62,30.1l3.23-3.03l-0.54-2.02L7,24.04l0-2.09l4.31-1.01l0.54-2.02L8.62,15.9l1.04-1.81l4.24,1.28l1.48-1.48L14.1,9.66l1.81-1.04l3.03,3.23l2.02-0.54L21.96,7H23zM23,17c-3.31,0-6,2.68-6,6c0,3.31,2.68,6,6,6c3.31,0,6-2.69,6-6C29,19.68,26.31,17,23,17z" /></svg></div>
                                            <h4 class="font__family-varela-round font__weight-bold font__size-24 text-uppercase main-title text-center">ARM Money Market Fund</h4>
                                            <p class="main-description font__family-open-sans font__size-14 text-gray text-center">Investments and Savings made easy</p><a href="#" class="btn btn-inside-out btn-lg border-radius-30 font__weight-bold" data-brk-library="component__button"><span class="before">invest now</span><span class="text">invest now</span><span class="after">invest now</span></a>
                                        </figcaption><span class="after"></span>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="brk-tab-item text-center text-lg-left">
                            <!--- Fund Performance -->
                            <div class="row">
                                <div class="col-lg-9  col-md-7">
                                    <h2 class="font__family-varela-round text-uppercase font__size-24 mb-40">To Begin, You would need the following:</h2>
                                    <ul class="list-inline-2" data-brk-library="component__list">
                                        <li class="font__family-varela-round font__size-16 font__weight-bold"><span class="text"><span class="cirlce"><span class="before"></span><span class="after"></span></span> Input the amount you would like to invest, then click Buy Now</span>
                                        </li>
                                        <li class="font__family-varela-round font__size-16 font__weight-bold"><span class="text"><span class="cirlce"><span class="before"></span><span class="after"></span></span> Checkout your order</span>
                                        </li>
                                        <li class="font__family-varela-round font__size-16 font__weight-bold"><span class="text"><span class="cirlce"><span class="before"></span><span class="after"></span></span> After successful payment, you would be presented with a link to the registration form.</span>
                                        </li>
                                        <li class="font__family-varela-round font__size-16 font__weight-bold"><span class="text"><span class="cirlce"><span class="before"></span><span class="after"></span></span> Fill the form</span>
                                        </li>
                                        <li class="font__family-varela-round font__size-16 font__weight-bold"><span class="text"><span class="cirlce"><span class="before"></span><span class="after"></span></span> Attach copies of your passport photo</span>
                                        </li>
                                        <li class="font__family-varela-round font__size-16 font__weight-bold"><span class="text"><span class="cirlce"><span class="before"></span><span class="after"></span></span> Copy of picture page of identification(e.g. International Passport, Driver’s License)</span>
                                        </li>
                                        <li class="font__family-varela-round font__size-16 font__weight-bold"><span class="text"><span class="cirlce"><span class="before"></span><span class="after"></span></span> Utility bill (for minors, a scanned copy of parent’s ID, Utility bill and minor’s birth certificate.)</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 col-md-5">
                                    <figure class="shape-box__wrapper-inline" data-brk-library="component__shape_box"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="custom-store/img/businessman.jpg" alt="alt" class="lazyload">
                                        <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
                                        <figcaption>
                                            <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" viewBox="0 0 60 60">
                                                            <path fill="none" stroke="#9CAAB9" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M42,31h1.43l0.35,2.94l2.65,1.1L49,33l2,2l-2.04,2.56l1.1,2.65L53,40.57v2.87l-2.94,0.35l-1.1,2.65L51,49l-2,2l-2.56-2.04l-2.65,1.1L43.43,53h-2.87l-0.35-2.94l-2.65-1.1L35,51l-2-2l2.04-2.56l-1.1-2.65L31,43.43v-2.87l2.94-0.35l1.1-2.65L33,35l2-2l2.56,2.04l2.65-1.1L40.57,31H42zM42,39c-1.66,0-3,1.34-3,3c0,1.66,1.34,3,3,3c1.66,0,3-1.34,3-3C45,40.34,43.66,39,42,39z" />
                                                            <path fill="none" stroke="#95A5A6" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M23,7h1.04l1.01,4.31l2.02,0.54l3.03-3.23l1.81,1.04l-1.28,4.23l1.48,1.48l4.23-1.28l1.05,1.81l-3.22,3.03l0.54,2.02L39,21.96l0,2.08l-4.31,1.01l-0.54,2.02l3.22,3.03l-1.04,1.81l-4.23-1.28l-1.48,1.48l1.28,4.23l-1.81,1.05l-3.03-3.23l-2.02,0.54L24.04,39l-2.09,0l-1.01-4.31l-2.02-0.54l-3.02,3.23l-1.81-1.04l1.28-4.23l-1.48-1.48L9.66,31.9L8.62,30.1l3.23-3.03l-0.54-2.02L7,24.04l0-2.09l4.31-1.01l0.54-2.02L8.62,15.9l1.04-1.81l4.24,1.28l1.48-1.48L14.1,9.66l1.81-1.04l3.03,3.23l2.02-0.54L21.96,7H23zM23,17c-3.31,0-6,2.68-6,6c0,3.31,2.68,6,6,6c3.31,0,6-2.69,6-6C29,19.68,26.31,17,23,17z" /></svg></div>
                                            <h4 class="font__family-varela-round font__weight-bold font__size-24 text-uppercase main-title text-center">ARM Money Market Fund</h4>
                                            <p class="main-description font__family-open-sans font__size-14 text-gray text-center">Investments and Savings made easy</p><a href="#" class="btn btn-inside-out btn-lg border-radius-30 font__weight-bold" data-brk-library="component__button"><span class="before">invest now</span><span class="text">invest now</span><span class="after">invest now</span></a>
                                        </figcaption><span class="after"></span>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!----Related Products -->
        <section class="position-relative brk-z-index-10">
            <div class="container text-center">
                <!--- Section Heading -->
                <div class="mt-20">
                    <h2 class="title__heading-01 font__family-varela-round-alt font__size-50 font__weight-bold title__heading-main wow zoomIn" data-brk-library="component__title">Mutual Funds</h2>
                    <h4 class="title__heading-01 title__heading-sub font__family-varela-round font__size-21" data-brk-library="component__title">Similar Investment Types</h4>
                    <hr class="title__heading-01 divider" data-brk-library="component__title">
                </div>
            </div>
            <div class=" w-100 brk-tabs_rounded d-flex flex-column" data-brk-library="component__tabs">

                <div class="container">
                    <div class="brk-slider">
                        <div class="brk-slider__items slick-loading" data-slick="{&quot;slidesToShow&quot;: 4, &quot;slidesToScroll&quot;: 2, &quot;arrows&quot;: false, &quot;dots&quot;: true}" data-brk-library="slider__slick">
                            <div>
                                <div class="flip-box brk-sc-flip-two text-center" data-brk-library="component__shop_flip,component__flip_box_css,scrollbar">
                                    <div class="flip flip_horizontal">
                                        <div class="flip__front brk-sc-flip-two__front">
                                            <!--Related Product Image -->
                                            <div class="brk-sc-flip-two__thumb m-4 "><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="custom-store/img/businessman.jpg" alt="ARM Money Market Fund" class="lazyload prod-image"></div>
                                            <div class="brk-sc-flip-two__description">
                                                <!--Related Product Amount -->
                                                <div class="brk-sc-flip-two__price font__family-varela-round font__weight-medium brk-base-font-color ">Starting from &#8358;1,000</div>
                                                <!--Related Product Name -->
                                                <div class="brk-sc-flip-two__front-title font__family-varela-round font__weight-light brk-dark-font-color">ARM Discovery Fund</div>
                                            </div>
                                        </div>
                                        <div class="flip__back brk-sc-flip-two__back">
                                            <div class="brk-sc-flip-two__back-layer">
                                                <!--Related Product Name -->
                                                <div class="brk-sc-flip-two__back-title font__family-varela-round font__weight-medium">ARM Discovery Fund</div>
                                                <!--Related Product Key Features -->
                                                <div class="brk-sc-flip-two__list scrollbar-inner">
                                                    <ul class="pl-15 pr-15">
                                                        <li><i class="far fa-check brk-base-font-color"></i> Low risk mutual fund</li>
                                                        <li><i class="far fa-check brk-base-font-color"></i> Regulated by the SEC</li>
                                                        <li><i class="far fa-check brk-base-font-color"></i> Listed on the NSE</li>
                                                        <li><i class="far fa-check brk-base-font-color"></i> Invests in verifiable instruments</li>
                                                        <li><i class="far fa-check brk-base-font-color"></i> Suitable for short term or long term investment</li>
                                                        <li><i class="far fa-check brk-base-font-color"></i> Low risk mutual fund</li>
                                                        <li><i class="far fa-check brk-base-font-color"></i> Regulated by the SEC</li>
                                                    </ul>
                                                </div>
                                                <!-- product button-->
                                                <div class="brk-sc-flip-two__button"><a href="#" class="btn btn-inside-out btn-md btn-icon border-radius-25 font__family-open-sans font__weight-semibold" data-brk-library="component__button"><span class="before">view item</span><span class="text">view item</span><span class="after">view item</span></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="flip-box brk-sc-flip-two text-center" data-brk-library="component__shop_flip,component__flip_box_css,scrollbar">
                                    <div class="flip flip_horizontal">
                                        <div class="flip__front brk-sc-flip-two__front">
                                            <!--Related Product Image -->
                                            <div class="brk-sc-flip-two__thumb m-4 "><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="custom-store/img/businessman.jpg" alt="ARM Money Market Fund" class="lazyload prod-image"></div>
                                            <div class="brk-sc-flip-two__description">
                                                <!--Related Product Amount -->
                                                <div class="brk-sc-flip-two__price font__family-varela-round font__weight-medium brk-base-font-color ">Starting from &#8358;1,000</div>
                                                <!--Related Product Name -->
                                                <div class="brk-sc-flip-two__front-title font__family-varela-round font__weight-light brk-dark-font-color">ARM Discovery Fund</div>
                                            </div>
                                        </div>
                                        <div class="flip__back brk-sc-flip-two__back">
                                            <div class="brk-sc-flip-two__back-layer">
                                                <!--Related Product Name -->
                                                <div class="brk-sc-flip-two__back-title font__family-varela-round font__weight-medium">ARM Discovery Fund</div>
                                                <!--Related Product Key Features -->
                                                <div class="brk-sc-flip-two__list scrollbar-inner">
                                                    <ul class="pl-15 pr-15">
                                                        <li><i class="far fa-check brk-base-font-color"></i> Low risk mutual fund</li>
                                                        <li><i class="far fa-check brk-base-font-color"></i> Regulated by the SEC</li>
                                                        <li><i class="far fa-check brk-base-font-color"></i> Listed on the NSE</li>
                                                        <li><i class="far fa-check brk-base-font-color"></i> Invests in verifiable instruments</li>
                                                        <li><i class="far fa-check brk-base-font-color"></i> Suitable for short term or long term investment</li>
                                                        <li><i class="far fa-check brk-base-font-color"></i> Low risk mutual fund</li>
                                                        <li><i class="far fa-check brk-base-font-color"></i> Regulated by the SEC</li>
                                                    </ul>
                                                </div>
                                                <!-- product button-->
                                                <div class="brk-sc-flip-two__button"><a href="#" class="btn btn-inside-out btn-md btn-icon border-radius-25 font__family-open-sans font__weight-semibold" data-brk-library="component__button"><span class="before">view item</span><span class="text">view item</span><span class="after">view item</span></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="flip-box brk-sc-flip-two text-center" data-brk-library="component__shop_flip,component__flip_box_css,scrollbar">
                                    <div class="flip flip_horizontal">
                                        <div class="flip__front brk-sc-flip-two__front">
                                            <!--Related Product Image -->
                                            <div class="brk-sc-flip-two__thumb m-4 "><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="custom-store/img/businessman.jpg" alt="ARM Money Market Fund" class="lazyload prod-image"></div>
                                            <div class="brk-sc-flip-two__description">
                                                <!--Related Product Amount -->
                                                <div class="brk-sc-flip-two__price font__family-varela-round font__weight-medium brk-base-font-color ">Starting from &#8358;1,000</div>
                                                <!--Related Product Name -->
                                                <div class="brk-sc-flip-two__front-title font__family-varela-round font__weight-light brk-dark-font-color">ARM Discovery Fund</div>
                                            </div>
                                        </div>
                                        <div class="flip__back brk-sc-flip-two__back">
                                            <div class="brk-sc-flip-two__back-layer">
                                                <!--Related Product Name -->
                                                <div class="brk-sc-flip-two__back-title font__family-varela-round font__weight-medium">ARM Discovery Fund</div>
                                                <!--Related Product Key Features -->
                                                <div class="brk-sc-flip-two__list scrollbar-inner">
                                                    <ul class="pl-15 pr-15">
                                                        <li><i class="far fa-check brk-base-font-color"></i> Low risk mutual fund</li>
                                                        <li><i class="far fa-check brk-base-font-color"></i> Regulated by the SEC</li>
                                                        <li><i class="far fa-check brk-base-font-color"></i> Listed on the NSE</li>
                                                        <li><i class="far fa-check brk-base-font-color"></i> Invests in verifiable instruments</li>
                                                        <li><i class="far fa-check brk-base-font-color"></i> Suitable for short term or long term investment</li>
                                                        <li><i class="far fa-check brk-base-font-color"></i> Low risk mutual fund</li>
                                                        <li><i class="far fa-check brk-base-font-color"></i> Regulated by the SEC</li>
                                                    </ul>
                                                </div>
                                                <!-- product button-->
                                                <div class="brk-sc-flip-two__button"><a href="#" class="btn btn-inside-out btn-md btn-icon border-radius-25 font__family-open-sans font__weight-semibold" data-brk-library="component__button"><span class="before">view item</span><span class="text">view item</span><span class="after">view item</span></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="flip-box brk-sc-flip-two text-center" data-brk-library="component__shop_flip,component__flip_box_css,scrollbar">
                                    <div class="flip flip_horizontal">
                                        <div class="flip__front brk-sc-flip-two__front">
                                            <!--Related Product Image -->
                                            <div class="brk-sc-flip-two__thumb m-4 "><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="custom-store/img/businessman.jpg" alt="ARM Money Market Fund" class="lazyload prod-image"></div>
                                            <div class="brk-sc-flip-two__description">
                                                <!--Related Product Amount -->
                                                <div class="brk-sc-flip-two__price font__family-varela-round font__weight-medium brk-base-font-color ">Starting from &#8358;1,000</div>
                                                <!--Related Product Name -->
                                                <div class="brk-sc-flip-two__front-title font__family-varela-round font__weight-light brk-dark-font-color">ARM Discovery Fund</div>
                                            </div>
                                        </div>
                                        <div class="flip__back brk-sc-flip-two__back">
                                            <div class="brk-sc-flip-two__back-layer">
                                                <!--Related Product Name -->
                                                <div class="brk-sc-flip-two__back-title font__family-varela-round font__weight-medium">ARM Discovery Fund</div>
                                                <!--Related Product Key Features -->
                                                <div class="brk-sc-flip-two__list scrollbar-inner">
                                                    <ul class="pl-15 pr-15">
                                                        <li><i class="far fa-check brk-base-font-color"></i> Low risk mutual fund</li>
                                                        <li><i class="far fa-check brk-base-font-color"></i> Regulated by the SEC</li>
                                                        <li><i class="far fa-check brk-base-font-color"></i> Listed on the NSE</li>
                                                        <li><i class="far fa-check brk-base-font-color"></i> Invests in verifiable instruments</li>
                                                        <li><i class="far fa-check brk-base-font-color"></i> Suitable for short term or long term investment</li>
                                                        <li><i class="far fa-check brk-base-font-color"></i> Low risk mutual fund</li>
                                                        <li><i class="far fa-check brk-base-font-color"></i> Regulated by the SEC</li>
                                                    </ul>
                                                </div>
                                                <!-- product button-->
                                                <div class="brk-sc-flip-two__button"><a href="#" class="btn btn-inside-out btn-md btn-icon border-radius-25 font__family-open-sans font__weight-semibold" data-brk-library="component__button"><span class="before">view item</span><span class="text">view item</span><span class="after">view item</span></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="flip-box brk-sc-flip-two text-center" data-brk-library="component__shop_flip,component__flip_box_css,scrollbar">
                                    <div class="flip flip_horizontal">
                                        <div class="flip__front brk-sc-flip-two__front">
                                            <!--Related Product Image -->
                                            <div class="brk-sc-flip-two__thumb m-4 "><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="custom-store/img/businessman.jpg" alt="ARM Money Market Fund" class="lazyload prod-image"></div>
                                            <div class="brk-sc-flip-two__description">
                                                <!--Related Product Amount -->
                                                <div class="brk-sc-flip-two__price font__family-varela-round font__weight-medium brk-base-font-color ">Starting from &#8358;1,000</div>
                                                <!--Related Product Name -->
                                                <div class="brk-sc-flip-two__front-title font__family-varela-round font__weight-light brk-dark-font-color">ARM Discovery Fund</div>
                                            </div>
                                        </div>
                                        <div class="flip__back brk-sc-flip-two__back">
                                            <div class="brk-sc-flip-two__back-layer">
                                                <!--Related Product Name -->
                                                <div class="brk-sc-flip-two__back-title font__family-varela-round font__weight-medium">ARM Discovery Fund</div>
                                                <!--Related Product Key Features -->
                                                <div class="brk-sc-flip-two__list scrollbar-inner">
                                                    <ul class="pl-15 pr-15">
                                                        <li><i class="far fa-check brk-base-font-color"></i> Low risk mutual fund</li>
                                                        <li><i class="far fa-check brk-base-font-color"></i> Regulated by the SEC</li>
                                                        <li><i class="far fa-check brk-base-font-color"></i> Listed on the NSE</li>
                                                        <li><i class="far fa-check brk-base-font-color"></i> Invests in verifiable instruments</li>
                                                        <li><i class="far fa-check brk-base-font-color"></i> Suitable for short term or long term investment</li>
                                                        <li><i class="far fa-check brk-base-font-color"></i> Low risk mutual fund</li>
                                                        <li><i class="far fa-check brk-base-font-color"></i> Regulated by the SEC</li>
                                                    </ul>
                                                </div>
                                                <!-- product button-->
                                                <div class="brk-sc-flip-two__button"><a href="#" class="btn btn-inside-out btn-md btn-icon border-radius-25 font__family-open-sans font__weight-semibold" data-brk-library="component__button"><span class="before">view item</span><span class="text">view item</span><span class="after">view item</span></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="flip-box brk-sc-flip-two text-center" data-brk-library="component__shop_flip,component__flip_box_css,scrollbar">
                                    <div class="flip flip_horizontal">
                                        <div class="flip__front brk-sc-flip-two__front">
                                            <!--Related Product Image -->
                                            <div class="brk-sc-flip-two__thumb m-4 "><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="custom-store/img/businessman.jpg" alt="ARM Money Market Fund" class="lazyload prod-image"></div>
                                            <div class="brk-sc-flip-two__description">
                                                <!--Related Product Amount -->
                                                <div class="brk-sc-flip-two__price font__family-varela-round font__weight-medium brk-base-font-color ">Starting from &#8358;1,000</div>
                                                <!--Related Product Name -->
                                                <div class="brk-sc-flip-two__front-title font__family-varela-round font__weight-light brk-dark-font-color">ARM Discovery Fund</div>
                                            </div>
                                        </div>
                                        <div class="flip__back brk-sc-flip-two__back">
                                            <div class="brk-sc-flip-two__back-layer">
                                                <!--Related Product Name -->
                                                <div class="brk-sc-flip-two__back-title font__family-varela-round font__weight-medium">ARM Discovery Fund</div>
                                                <!--Related Product Key Features -->
                                                <div class="brk-sc-flip-two__list scrollbar-inner">
                                                    <ul class="pl-15 pr-15">
                                                        <li><i class="far fa-check brk-base-font-color"></i> Low risk mutual fund</li>
                                                        <li><i class="far fa-check brk-base-font-color"></i> Regulated by the SEC</li>
                                                        <li><i class="far fa-check brk-base-font-color"></i> Listed on the NSE</li>
                                                        <li><i class="far fa-check brk-base-font-color"></i> Invests in verifiable instruments</li>
                                                        <li><i class="far fa-check brk-base-font-color"></i> Suitable for short term or long term investment</li>
                                                        <li><i class="far fa-check brk-base-font-color"></i> Low risk mutual fund</li>
                                                        <li><i class="far fa-check brk-base-font-color"></i> Regulated by the SEC</li>
                                                    </ul>
                                                </div>
                                                <!-- product button-->
                                                <div class="brk-sc-flip-two__button"><a href="#" class="btn btn-inside-out btn-md btn-icon border-radius-25 font__family-open-sans font__weight-semibold" data-brk-library="component__button"><span class="before">view item</span><span class="text">view item</span><span class="after">view item</span></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Slider Controls -->
                        <div class="brk-slider__control d-flex align-items-center"><span class="brk-slider__prev brk-base-font-color font__size-24"><i class="fa fa-angle-left" aria-hidden="true"></i> </span><span class="brk-slider__next brk-base-font-color font__size-24"><i class="fa fa-angle-right" aria-hidden="true"></i></span></div>
                    </div>
                </div>
            </div>
        </section>