<!DOCTYPE html>
<html>
<head>
    <title>ARM Investment Center</title>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="template language" name="keywords">
    <meta content="ARM Investment Center" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <environment include="Development">
        <link href="~/custom-admin/img/arm-favicon.jpg" rel="shortcut icon">
        <link href="apple-touch-icon.png" rel="apple-touch-icon">
        <link href="https://fonts.googleapis.com/css?family=Varela+Round:300,400,500" rel="stylesheet" type="text/css">
        <link href="~/custom-admin/components/select2/dist/css/select2.min.css" rel="stylesheet">
        <link href="~/custom-admin/components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
        <link href="~/custom-admin/components/dropzone/dist/dropzone.css" rel="stylesheet">
        <link href="~/custom-admin/components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
        <link href="~/custom-admin/components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
        <link href="~/custom-admin/components/perfect-scrollbar/css/perfect-scrollbar.min.css" rel="stylesheet">

        <link href="~/custom-admin/font-awesome/css/fontawesome.css" rel="stylesheet" />
        <link href="~/custom-admin/components/slick-carousel/slick/slick.css" rel="stylesheet">
        <link href="~/custom-admin/css/main.css?version=4.4.0" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
    </environment>
    <link href="~/custom-admin/css/main.css?version=4.4.0" rel="stylesheet" />
</head>
<body class="menu-position-side menu-side-left full-screen">

    @RenderBody()
    <environment include="Development">

        @*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>*@
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>

        <script src="~/custom-admin/components/jquery/dist/jquery.min.js"></script>
        <script src="~/custom-admin/components/popper.js/dist/umd/popper.min.js"></script>
        <script src="~/custom-admin/components/moment/moment.js"></script>
        <script src="~/custom-admin/components/chart.js/dist/Chart.min.js"></script>
        <script src="~/custom-admin/components/select2/dist/js/select2.full.min.js"></script>
        <script src="~/custom-admin/components/jquery-bar-rating/dist/jquery.barrating.min.js"></script>
        <script src="~/custom-admin/components/ckeditor/ckeditor.js"></script>
        <script src="~/custom-admin/components/bootstrap-validator/dist/validator.min.js"></script>
        <script src="~/custom-admin/components/bootstrap-daterangepicker/daterangepicker.js"></script>
        <script src="~/custom-admin/components/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
        <script src="~/custom-admin/components/dropzone/dist/dropzone.js"></script>
        <script src="~/custom-admin/components/editable-table/mindmup-editabletable.js"></script>
        <script src="~/custom-admin/components/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="~/custom-admin/components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
        <script src="~/custom-admin/components/fullcalendar/dist/fullcalendar.min.js"></script>
        <script src="~/custom-admin/components/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
        <script src="~/custom-admin/components/tether/dist/js/tether.min.js"></script>
        <script src="~/custom-admin/components/slick-carousel/slick/slick.min.js"></script>
        <script src="~/custom-admin/components/bootstrap/js/dist/util.js"></script>
        <script src="~/custom-admin/components/bootstrap/js/dist/alert.js"></script>
        <script src="~/custom-admin/components/bootstrap/js/dist/button.js"></script>
        <script src="~/custom-admin/components/bootstrap/js/dist/carousel.js"></script>
        <script src="~/custom-admin/components/bootstrap/js/dist/collapse.js"></script>
        <script src="~/custom-admin/components/bootstrap/js/dist/dropdown.js"></script>
        <script src="~/custom-admin/components/bootstrap/js/dist/modal.js"></script>
        <script src="~/custom-admin/components/bootstrap/js/dist/tab.js"></script>
        <script src="~/custom-admin/components/bootstrap/js/dist/tooltip.js"></script>
        <script src="~/custom-admin/components/bootstrap/js/dist/popover.js"></script>
        <script src="~/custom-admin/js/chart-loader.js"></script>
        @*<script src="~/js/tinymce/tinymce.min.js"></script>*@
        <script src="~/custom-admin/js/main.js?version=4.4.0" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>
    </environment>

    <script type="text/javascript">
        // Load google charts
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        // Draw the chart and set the chart values
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['Work', 8],
                ['Friends', 2],
                ['Eat', 2],
                ['TV', 2],
                ['Gym', 2],
                ['Sleep', 8]
            ]);

            // Optional; add a title and set the width and height of the chart
            var options = { 'title': 'My Average Day', 'width': 550, 'height': 400 };

            // Display the chart inside the <div> element with id="piechart"
            var chart = new google.visualization.PieChart(document.getElementById('pieChart'));
            chart.draw(data, options);
        }
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-XXXXXXX-9', 'auto');
        ga('send', 'pageview');
    </script>
    <script type="text/javascript">
        function onTransactionCorrection() {
            var table = document.getElementById('status').values;
            alert('mmmm');
        }
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>