<!DOCTYPE html>
<html>
<head>
    <title>ARM Money Market Fund - ARM Investment Center</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link href="~/custom-admin/img/arm-favicon.jpg" rel="shortcut icon">
    <link href="~/custom-admin/img/arm-favicon.jpg" rel="apple-touch-icon">
    <meta name="theme-color" content="#06a93c">
    <meta name="keywords" content="Mutual funds ...">
    <meta name="description" content="arm investment center ...">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round:300,400,500" rel="stylesheet" type="text/css">

    <environment include="Development">
        <link rel="stylesheet" id="brk-direction-bootstrap" href="~/custom-store/css/assets/bootstrap.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" id="brk-skin-color" href="~/custom-store/css/skins/brk-green.css">
        <link id="brk-base-color" rel="stylesheet" href="~/custom-store/css/skins/brk-base-color.css">
        <link rel="stylesheet" id="brk-direction-offsets" href="~/custom-store/css/assets/offsets.css">
        <link id="brk-css-min" rel="stylesheet" href="~/custom-store/css/styles.css">
        <link id="brk-css-min" rel="stylesheet" href="~/custom-store/css/custom.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
    </environment>
</head>
<body>
    <div class="main-page">
        <div class="brk-header-mobile">
            <div class="brk-header-mobile__open"><span></span></div>
            <div class="brk-header-mobile__logo">
                <a href="#">
                    <img class="brk-header-mobile__logo-1 lazyload" src="data:~/custom-store/img/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="~/custom-store/img/arm-investment-center-logo.png" alt="ARM Investment Center Logo"> <img class="brk-header-mobile__logo-2 lazyload"
                                                                                                                                                                                                                                                                      src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="~/custom-store/img/arm-investment-center-logo.png" alt="ARM Investment Center Logo">
                </a>
            </div>
        </div>
        <!---- Top Bar -->
        <header class="brk-header brk-header_style-1 brk-header_color-dark brk-header_skin-1 position-fixed d-flex flex-column" data-logo-src="~/custom-store/img/arm-investment-center-logo.png" data-bg-mobile="img/brk-bg-mobile-menu.jpg" data-brk-library="component__header">
            <div class="brk-header__top-bar order-lg-1 order-2 font__family-varela-round brk-header__top-bar_scroll" style="height: 64px;">
                <div class="brk-header__title font__family-varela-round font__weight-bold">Contact Us</div>
                <!-- Top Header -->
                <div class="container-fluid" style="background-color: #fff;">
                    <div class="row align-items-center">
                        <div class="col-lg-5 align-self-lg-stretch text-left">
                            <div class="brk-header__element brk-header__element_skin-2 brk-header__item"><a href="tel:88002003040" class="brk-header__element--wrap"><i class="fa fa-phone"></i> <span class="brk-header__element--label font__weight-semibold">0 800 200 30 40</span></a></div>
                            <div class="brk-header__element brk-header__element_skin-2 brk-header__item"><a href="#" class="brk-header__element--wrap"><i class="fa fa-envelope"></i> <span class="brk-header__element--label font__weight-medium">hello@arminvestmentcenter.com</span></a></div>
                        </div>
                        <!-- Logo Area -->
                        <div class="col-lg-2 align-self-lg-center d-none d-lg-block ">
                            <a href="/" class="brk-header__logo brk-header__item @@modifier">
                                <img class="brk-header__logo-1 lazyload centering-img" style="margin: 0.25rem auto;" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ARM-investment-center-logo.jpg" alt="alt">
                                <img class="brk-header__logo-2 lazyload centering-img" style="margin: 0.25rem auto;" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ARM-investment-center-logo.jpg" alt="alt">
                            </a>
                        </div>

                        <!-- Cart -->
                        <div class="col-lg-5 align-self-lg-stretch text-left text-lg-right">
                            <div class="brk-mini-cart brk-header__item">
                                <a href="cart.html" class="brk-mini-cart__open d-flex"><i class="fa fa-shopping-basket" aria-hidden="true"></i> <span class="brk-mini-cart__label font__family-varela-round font__weight-medium text-uppercase letter-spacing-60 font__size-10 opacity-80">My cart</span> <span class="brk-mini-cart__title">Shopping Cart</span> <span class="brk-mini-cart__count brk-mini-cart__count_skin-1 brk-mini-cart__count_white">4</span></a>
                                <div class="brk-mini-cart__menu">
                                    <!-- Cart Dropdown-->
                                    <div class="brk-mini-cart__header"><span class="font__family-varela-round font__weight-bold font__size-18">My Cart</span></div>
                                    <div class="brk-mini-cart__products">
                                        <div class="brk-mini-cart__product">
                                            <div class="brk-mini-cart__product--img"><img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/businessman.jpg" alt="alt"></div>
                                            <div class="brk-mini-cart__product--title-price">
                                                <a href="#">
                                                    <h4 class="font__family-varela-round font__size-16 line__height-21 font__weight-semibold ">ARM Money Market Fund</h4>
                                                </a><span class="brk-mini-cart__product--price font__family-varela-round">&#8358;260,000.00</span>
                                            </div>
                                            <div class="brk-quantity"><span class="brk-quantity__arrows minus"></span> <input class="brk-quantity__value" name="quantity" type="text" value="2"> <span class="brk-quantity__arrows plus"></span></div>
                                            <a href="#" class="brk-mini-cart__product--remove remove"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
                                        </div>
                                        <div class="brk-mini-cart__product">
                                            <div class="brk-mini-cart__product--img"><img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/businessman.jpg" alt="alt"></div>
                                            <div class="brk-mini-cart__product--title-price">
                                                <a href="#">
                                                    <h4 class="font__family-varela-round font__size-16 line__height-21 font__weight-semibold text-truncate">ARM Ethical Fund</h4>
                                                </a> <span class="brk-mini-cart__product--price font__family-varela-round">&#8358;12,200,00.00</span>
                                            </div>
                                            <div class="brk-quantity"><span class="brk-quantity__arrows minus"></span> <input class="brk-quantity__value" name="quantity" type="text" value="2"> <span class="brk-quantity__arrows plus"></span></div>
                                            <a href="#" class="brk-mini-cart__product--remove remove"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="brk-mini-cart__links">
                                        <div class="brk-mini-cart__links--wrap"><a class="brk-mini-cart__links--cart" href="cart.html"><i class="fa fa-shopping-basket"></i> Cart</a> <a class="brk-mini-cart__links--checkout" href="checkout.html">Proceed to checkout <i class="far fa-arrow-right"></i></a></div>
                                    </div>
                                </div>
                            </div>

                            <div class="brk-header__element brk-header__element_skin-2  brk-header__item"><a href="login.html" class="brk-header__element--wrap"><i class="fa fa-user"></i> <span class="brk-header__element--label font__weight-medium">Login</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Categories Header Menu -->
            <div class="brk-header__main-bar brk-header_border-top-dark order-lg-2 order-1 menu-header-style" style="height: 48px;">
                <div class="container-fluid">
                    <div class="row align-items-center text-lg-center">

                        <div class="col-lg-1">
                        </div>

                        <div class="col-lg align-self-lg-stretch">
                            <nav class="brk-nav brk-header__item">
                                <ul class="brk-nav__menu">
                                    <li class="brk-nav__drop-down-effect"><a href="#"><span>Mutual Funds</span></a></li>
                                    <li class="brk-nav__drop-down-effect"><a href="#"><span>Pensions</span></a></li>
                                    <li class="brk-nav__drop-down-effect"><a href="#"><span>Insurance</span></a></li>
                                    <li class="brk-nav__drop-down-effect"><a href="#"><span>Trustees</span></a></li>
                                    <li class="brk-nav__drop-down-effect"><a href="#"><span>Securities</span></a></li>
                                    <li class="brk-nav__drop-down-effect"><a href="#"><span>Real Estate</span></a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- Search Icon Area -->
                        <div class="col-lg-1 align-self-lg-stretch text-lg-right">
                            <div class="brk-header__title font__family-varela-round font__weight-bold">Info</div>
                            <div class="brk-search brk-header__item">
                                <div class="brk-search__open ">
                                    <i class="fal fa-search" aria-hidden="true"></i>
                                    <div class="brk-search__title">Search ARM Investment Center</div>
                                </div>
                                <div class="brk-search__block">
                                    <div class="brk-search__header"><span class="font__family-varela-round font__weight-bold font__size-18">Search</span></div>
                                    <form class="brk-search__form" role="search" method="get" action="#"><input name="s" maxlength="50" type="search" value="" placeholder="Enter search text"> <button type="submit"><i class="fas fa-search"></i></button></form><span class="brk-search__close font__family-varela-round font__weight-medium">Close <i class="fas fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        @RenderBody()
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>