:root {
    --brand-primary: #06A93C;
    --secondary: #36E278;
    --white: #fff;
    --black: #000;
    --brk-dark-base: #05386B;
    --brk-base-1: #06A93C;
    --brk-base-2: #29BF2F;
    --brk-base-3: #08b957;
    --brk-base-4: #C8BEB6;
    --brk-base-5: #6bff94;
    --brk-base-6: #4bde75;
    --brk-base-7: #29BF2F;
    --brk-base-8: #29BF2F;
    --brk-secondary-1: #29BF2F;
    --brk-secondary-2: #29BF2F;
    --brk-secondary-3: #5fffa4;
    --brk-secondary-4: #29BF2F;
    --brk-secondary-5: #29BF2F;
    --brk-secondary-6: #00e784;
    --text-base-color-1: #c4c4c4;
    --text-base-color-2: #00e784;
    --text-base-color-3: #f3f3f3;
    --form-color-1: #e8ecff;
    --brand-primary-rgb: 6, 169, 60;
    --secondary-rgb: 54, 226, 120;
    --white-rgb: 255, 255, 255;
    --black-rgb: 0, 0, 0;
    --brk-dark-base-rgb: 5, 56, 1079;
    --brk-base-1-rgb: 6, 169, 60;
    --brk-base-2-rgb: 41, 191, 47;
    --brk-base-3-rgb: 8, 185, 87;
    --brk-base-4-rgb: 200, 190, 182;
    --brk-base-5-rgb: 0, 231, 132;
    --brk-base-6-rgb: 0, 231, 132;
    --brk-base-7-rgb: 41, 191, 47;
    --brk-base-8-rgb: 41, 191, 47;
    --brk-secondary-1-rgb: 41, 191, 47;
    --brk-secondary-2-rgb: 41, 191, 47;
    --brk-secondary-3-rgb: 0, 231, 132;
    --brk-secondary-4-rgb: 41, 191, 47;
    --brk-secondary-5-rgb: 41, 191, 47;
    --brk-secondary-6-rgb: 0, 231, 132;
    --text-base-color-1-rgb: 196, 196, 196;
    --text-base-color-2-rgb: 0, 231, 132;
    --text-base-color-3-rgb: 243, 243, 243;
    --form-color-1-rgb: 232, 236, 255;
    --b-radius: inherit
}