@*@{
        Layout = null;
    }
    <html>

    <head>
        <title>Dashboard - ARM Investment Center</title>
        <meta charset="utf-8">
        <meta content="ie=edge" http-equiv="x-ua-compatible">
        <meta content="Investment Portfolio" name="keywords">
        <meta content="ARM Investment Center Management Portal" name="description">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link href="~/custom-admin/img/arm-favicon.jpg" rel="shortcut icon">
        <link href="~/custom-admin/img/arm-favicon.jpg" rel="apple-touch-icon">
        <link href="https://fonts.googleapis.com/css?family=Varela+Round:300,400,500" rel="stylesheet" type="text/css">
        <link href="~/custom-admin/components/select2/dist/css/select2.min.css" rel="stylesheet">
        <link href="~/custom-admin/components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
        <link href="~/custom-admin/components/dropzone/dist/dropzone.css" rel="stylesheet">
        <link href="~/custom-admin/components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
        <link href="~/custom-admin/components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
        <link href="~/custom-admin/components/perfect-scrollbar/css/perfect-scrollbar.min.css" rel="stylesheet">
        <link href="~/custom-admin/components/slick-carousel/slick/slick.css" rel="stylesheet">
        <link href="~/custom-admin/css/main.css?version=4.4.0" rel="stylesheet">
    </head>

    <body class="auth-wrapper login-with-image">
        <div class="all-wrapper login-with-image">
            <div class="auth-box-w">
                <div class="logo-w">
                    <a href="index.html"><img alt="" src="~/custom-admin/img/arm-logo.png"></a>
                </div>
                <hr>
                <form action="">
                    <div class="form-group">
                        <label for="">Username</label><input class="form-control" placeholder="Enter your username" type="text">
                        <div class="pre-icon os-icon os-icon-user-male-circle"></div>
                    </div>
                    <div class="form-group">
                        <label for="">Password</label><input class="form-control" placeholder="Enter your password" type="password">
                        <div class="pre-icon os-icon os-icon-fingerprint"></div>
                    </div>
                    <div class="form-group buttons-w text-center">
                        <button class="btn btn-primary btn-block">Login</button>
                    </div>
                    <div class=" text-center">
                        <span> <a href="forgot-password.html" class=" text-center b-t m-t">Forgot Password</a></span>
                    </div>
                </form>
            </div>
        </div>
    </body>
    </html>*@