@model Portal.Domain.ModelView.ProductViewModel

@{
    ViewData["Title"] = "_add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<!---- Dashboard Overview --->
<div class="row">
    <div class=" col-md-12 ">
        <div class=" ">
            <div class="">

                <div class="element-box">
                    <div class="m-b">
                        <form asp-controller="Products" asp-action="Add" method="post" enctype="multipart/form-data">
                            @Html.AntiForgeryToken()
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="element-box">

                                        <h5 class="form-header">
                                            Add New Product
                                        </h5>

                                        <div class="form-group">
                                            <label for=""> Product Name</label>
                                            <input name="Name" asp-for="Name" class="form-control" placeholder="Enter product name" type="text">
                                        </div>
                                        <div class="form-group">
                                            <label> Description</label>
                                            <input name="Description" asp-for="Description" class="form-control" rows="2"/>
                                        </div>

                                        <div class="form-group">
                                            <label for=""> Select Category</label>
                                            <select name="ProductCategory" asp-for="ProductCategory" class="form-control">
                                                @foreach (var item in Model.AvailableCategories)
                                                {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for=""> Product Type</label>
                                            <select asp-for="ProductTypes" class="form-control">
                                                <option>
                                                    Select Product Type
                                                </option>
                                                <option value="Enter Amount">
                                                    Enter Amount
                                                </option>
                                                <option value="Fixed Amount">
                                                    Fixed Amount
                                                </option>
                                                <option value="Expression of Interest">
                                                    Expression of Interest
                                                </option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="">Enter Start Price </label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">&#8358;</span>
                                                </div>
                                                <input name="StartFrom" asp-for="StartFrom" type="text" class="form-control" aria-label="Amount (to the nearest Naira)">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">.00</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Key Features</label>
                                            <textarea name="Feature" asp-for="Feature" class="form-control" rows="3"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label>Key Benefits</label>
                                            <textarea name="Benefit" asp-for="Benefit" class="form-control" rows="3"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label> Investment Management</label>
                                            <textarea name="InvestmentManagement" asp-for="InvestmentManagement" class="form-control" rows="3"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label> More Information</label>
                                            <textarea name="MoreInformation" asp-for="MoreInformation" class="form-control" rows="3"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label> How To Begin</label>
                                            <textarea name="HowToBegin" asp-for="HowToBegin" class="form-control" rows="3"></textarea>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="element-wrapper">

                                                    <div class="element-box">
                                                        <h5 class="form-header">
                                                            Product Image(s)
                                                        </h5>
                                                        <div class="form-desc">
                                                        </div>
                                                        <div class="dz-message">
                                                            <div>
                                                                <h5>
                                                                    Drop files here or click to upload.
                                                                </h5>
                                                                <input class="os-icon os-icon-upload" name="UploadProductImage" asp-for="UploadProductImage" type="file" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    Active
                                                    <label class="switch">
                                                        <input name="IsActive" asp-for="IsActive" type="checkbox" class="success">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-buttons-w">
                                            <button class="btn btn-primary" type="submit">Add Product</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}