@{
    ViewData["Title"] = "_edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<ul style="list-style-type: circle;">
    <li>djskbvowpiwpg</li>
    <li>aklbWLKNp;bws</li>
    <li>;nqan;ob</li>
    <li>eq;ehqpb</li>
    <li>aep;bw;nm</li>
</ul>

<textarea id="full-featured"></textarea>