@model IEnumerable<ProductView>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<div class="row">
    <div class="col-md-12 ">
        <div class="element-box element-wrapper">
            <h5 class="form-header">
                Product List
            </h5>
            <div class="form-desc">

                <a asp-action="Add" class="btn btn-sm btn-primary float-left"> <i class="os-icon os-icon-plus-circle"></i> Add Product</a>
            </div>
            <div class="element-box-tp">
                <div class="table-responsive">
                    <table class="table table-striped b-b">
                        <thead>
                            <tr>

                                <th class="text-center">
                                    Product Name
                                </th>
                                <th>
                                    Category
                                </th>
                                <th>
                                    Start From
                                </th>

                                <th class="text-center">
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>

                                        <div class="user-with-avatar">
                                            <img alt="" src="~/custom-admin/img/ethical-fund-image.jpg"><span>@item.Name</span>
                                        </div>
                                    </td>

                                    <td>
                                        @item.ProductCategory
                                    </td>
                                    <td>
                                        @item.StartFrom
                                    </td>

                                    <td class="row-actions">
                                        <div class="btn-group">

                                            <button type="button" class="btn btn-primary  dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                <span class="caret">Action</span>
                                                <span class="sr-only"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a asp-controller="Settings" asp-action="Index">Edit</a>
                                                </li>
                                                <li>
                                                    <a asp-controller="Settings" asp-action="Index">Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="controls-below-table">
                        <div class="table-records-info">
                            Showing records 1 - 5
                        </div>
                        <div class="table-records-pages">
                            <ul>
                                <li>
                                    <a href="#">Previous</a>
                                </li>
                                <li>
                                    <a class="current" href="#">1</a>
                                </li>
                                <li>
                                    <a href="#">2</a>
                                </li>
                                <li>
                                    <a href="#">3</a>
                                </li>
                                <li>
                                    <a href="#">4</a>
                                </li>
                                <li>
                                    <a href="#">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>