@model RegistrationViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--- BreadCrumb Area-->

<div class="breadcrumbs__section breadcrumbs__section-dark bg__style mt-80 mb-30 pt-80 pb-80 lazyload" data-bg="img/alternative-banner.jpg" data-brk-library="component__breadcrumbs_css">
    <div class="brk-base-bg-6 breadcrumb-bg full__size-absolute"></div>
    <h2 class="font__size-40 line__height-46 font__family-montserrat font__weight-ultralight text-center"><span class="font__weight-bold">Registration</span></h2>
    <div class="breadcrumbs__wrapper">
        <div class="container">
            <ol class="breadcrumb font__family-montserrat font__weight-medium font__size-12 letter-spacing-100">
                <li class="breadcrumb__icon"><a href="#"><i class="fas fa-home"></i></a></li>
                <li><a href="#">Registeration <i class="fas fa-arrow-right"></i></a></li>
                <li class="active">Registeration</li>
            </ol>
        </div>
    </div>
</div>

<h1 class="sr-only">Registration</h1>
<div class="main-wrapper text-center">
    <main class="main-container mt-150 mb-10">

        <form asp-action="Cregistration" method="post" class="brk-form-strict" data-brk-library="component__form">
            <div class="container">
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <!-- Personal Information-->
                    <div class="col-md-11">

                        <!---Sign up -->
                        <div class="row mb-40">
                            <div class="col-12">
                                <h2 class="font__family-montserrat font__size-36 font__weight-bold line__height-42 mt-40">Personal details</h2>
                            </div>
                            <div class="col-12 col-md-6">
                                <input type="text" name="FirstName" asp-for="FirstName" placeholder="First Name" required>
                            </div>
                            <div class="col-12 col-md-6">
                                <input type="text" name="LastName" asp-for="LastName" placeholder="Last Name" required>
                            </div>
                            <div class="col-12 col-md-6">
                                <input type="email" name="Email" asp-for="Email" required placeholder="Email Address">
                            </div>
                            <div class="col-12 col-md-6">
                                <input type="text" name="Tel" asp-for="Tel" required placeholder="Phone Number">
                            </div>
                            <div class="col-12 col-md-6">
                                <select name="Gender" asp-for="Gender">
                                    <option value="">Select Gender</option>
                                    <option value="Female">Female</option>
                                    <option value="Male">Male</option>
                                </select>
                            </div>
                            <div class="col-12 col-md-6">
                                <input type="text" name="BioetricVerificationNumber" asp-for="BioetricVerificationNumber" placeholder="BVN Number">
                            </div>
                            <div class="col-12 col-md-6">
                                <input type="text" name="Address" asp-for="Address" placeholder="Please enter your address information">
                            </div>
                            <div class="col-12 col-md-6">
                                <input type="email" name="EmailOfReferrer" asp-for="EmailOfReferrer" placeholder="Who were you referred by?">
                            </div>
                            <hr>

                            <div class="col-12 mt-70 mb-20">
                                <h4 class="title__divider title__divider--chevron font__size-21 font__weight-bold font__family-montserrat line__height-24 text-center" data-brk-library="component__dividers">
                                    <span class="title__divider__wrapper">Create your ARM Account <span class="line brk-base-bg-gradient-chevron-pseudo"></span></span>
                                </h4>
                                <div class="text-left font__family-open-sans font__size-15 line__height-24 brk-dark-font-color">
                                    <p>Create a password to login to your ARM account.</p>
                                </div>
                            </div>

                            <div class="col-12 col-md-6  text-left">
                                <label class="brk-form-label font__family-montserrat font__weight-bold" for="brk-pass-form">Account Password</label>
                                <input asp-for="Password" name="Password" type="password" placeholder="Enter password">
                            </div>
                            <div class="col-12 col-md-6  text-left">
                                <label class="brk-form-label font__family-montserrat font__weight-bold" for="brk-pass-form">Confirm Password</label>
                                <input asp-for="Password" name="Password" type="password" placeholder="Confirm password">
                            </div>
                            <div class="col-12 col-md-6  text-left">
                                <button class="btn btn-inside-out btn-lg  btn-shadow mx-0 my-0" data-brk-library="component__button"><span class="before">Save</span><span class="text">Save</span><span class="after">Save</span></button>
                            </div>
                        </div>
                    </div>
                    <!--- Order Information -->
                </div>
            </div>
        </form>
    </main>
</div>