
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_Layout_Sign_In.cshtml";
}

<div class="wpc-content-wrap">
    <div class="bg1 ">
        <div class="row">
            <div class="col-md-12 ">
                <div class="wpc-login-block wpc-bg-block ">
                    <img src="~/img/login-banner.png" alt="" class="wpc-img">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-9 ">
                            <div class="img-logo">
                                <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/logo.png" alt=""></a>
                            </div>
                            <h4 class="padding-lg-t80">Login to</h4>
                            <h2>My ARM Client Portal</h2>
                            
                            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form", autocomplete = "off", id = "login_form", @class = "dialog bg-gray-light" }))
                            {
                                @Html.AntiForgeryToken()
                                @*@Html.TextBoxFor(m => m.Username, new { autocomplete = "off", @placeholder = "Enter Membership ID" })
                                @Html.PasswordFor(m => m.Password, new { autocomplete = "off", @placeholder = "Enter Password" })*@
                                <button type="submit">login</button>
                            }
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">

    body {
        max-width: 100%;
    }

    .wpc-wrap {
        padding-left: 0;
        padding-right: 0;
    }

    .wpc-login-block h4 {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .wpc-login-block h2 {
        color: #602144;
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 100 !important;
        letter-spacing: -1px;
        font-family: Gotham, sans-serif;
    }

    .img-logo img {
        width: 100% !important;
        max-width: 128px !important;
    }

    .img-logo {
        text-align: left;
        padding: 0;
        margin-top: 40px;
    }

        .img-logo a {
            border: none;
            padding: 0;
        }
</style>