@using Portal.ViewModel;
@model LoginViewModels

@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_Layout_ForgotPassword.cshtml";
}

<div class="wpc-content-wrap">
    <div class="bg1 ">
        <div class="row">
            <div class="col-sm-12">
                <div class="wpc-login-block wpc-bg-block" style="height: 756px; background-image: url('/img/login-banner.png');">
                    <img src="~/img/login-banner.png" alt="" class="wpc-img" style="display:none;">
                    <div class="row">
                        <div class="col-md-4 offset-md-8">
                            <div class="auth-box-w">
                                <div class="logo-w">
                                    <a href="@Url.Action("Index", "Home")">
                                        <img alt="" src="~/Liber/Admin/img/arm-logo.png">
                                    </a>
                                </div>
                                <hr>
                                <form asp-controller="Account" asp-action="Login">
                                    <div class="form-group">
                                        <label for="">Email Address</label>
                                        <input name="Username" asp-for="Username" type="text" class="form-control" placeholder="Enter your email address">
                                        <div class="pre-icon os-icon os-icon-user-male-circle"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Username</label>
                                        <input name="Password" asp-for="Password" type="password" class="form-control" placeholder="Enter your username">
                                        <div class="pre-icon os-icon os-icon-fingerprint"></div>
                                    </div>
                                    <div class="form-group buttons-w text-center">
                                        <button class="btn btn-primary btn-block">Reset Password</button>
                                    </div>
                                    <div class=" text-center">
                                        <span> <a href="@Url.Action("Login", "Account")" class=" text-center b-t m-t">Back To Login</a></span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>

<style type="text/css">

    body {
        max-width: 100%;
    }

    .wpc-wrap {
        padding-left: 0;
        padding-right: 0;
    }

    .wpc-login-block {
        padding: 0 25px;
        text-align: center;
    }

        .wpc-login-block h4 {
            font-size: 18px;
            margin-bottom: 5px;
        }

    .wpc-bg-block {
        background-repeat: no-repeat;
        background-position: 0% 42%;
        background-size: cover;
    }

    .wpc-login-block h2 {
        color: #602144;
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 100 !important;
        letter-spacing: -1px;
        font-family: Gotham, sans-serif;
    }

    .img-logo img {
        width: 100% !important;
        max-width: 128px !important;
    }

    .img-logo {
        text-align: left;
        padding: 0;
        margin-top: 40px;
    }

        .img-logo a {
            border: none;
            padding: 0;
        }
</style>