
@{
    ViewData["Title"] = "MyInvestments";
}


<!---- Investment Overview --->

<div class="row">
    <div class="element-wrapper col-md-12">
        <h6 class="element-header">
            My Investments
            <span class="date-timestamp float-right">Jan 27th 2019, 7:42am</span>
        </h6>
        <div class="element-box element-wrapper row">
            <!---- Investment Position --->
            <div class="col-sm-12 col-lg-8  col-md-7 col-xxl-8">
                <div class="element-balances justify-content-between mobile-full-width">
                    <div class="balance balance-v2">
                        <div class="balance-title">
                            Your Investment Position
                        </div>
                        <div class="balance-value">
                            <span>&#8358;72,246,000</span>
                        </div>
                        <div class="balance-value pending-bal">
                            <span>Pending Transactions:</span><span> &#8358;72,246,000</span>
                        </div>
                    </div>

                </div>
                <div class="element-wrapper pb-4 border-bottom">
                    <div class="element-box-tp">
                        <a class="btn btn-primary" href="#"><i class="os-icon os-icon-plus-circle"></i><span>New Investment</span></a><a class="btn btn-grey" href="#"><i class="os-icon os-icon-agenda-1"></i><span>Additional Investment </span></a>

                    </div>
                </div>
                <!---- Personal Information --->
                <div class="mt-3">
                    <h5 class="form-header">
                        ARM Pay History
                    </h5>

                    <div class="table-responsive">
                        <!--------------------
                        START - Basic Table
                        -------------------->
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Item
                                    </th>
                                    <th>
                                        Amount
                                    </th>
                                    <th>
                                        Category
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <span>Jan 21</span><br><span class="smaller lighter">1:52am</span>
                                    </td>
                                    <td>
                                        <span>ARM Life Education Plan</span>
                                    </td>
                                    <td>
                                        <span>&#8358;72,246,000</span>
                                    </td>
                                    <td>
                                        <span>Pensions</span>
                                    </td>
                                    <td>
                                        Successful
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>Jan 21</span><br><span class="smaller lighter">1:52am</span>
                                    </td>
                                    <td>
                                        <span>ARM Life Education Plan</span>
                                    </td>
                                    <td>
                                        <span>&#8358;72,246,000</span>
                                    </td>
                                    <td>
                                        <span>Pensions</span>
                                    </td>
                                    <td>
                                        Successful
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>Jan 21</span><br><span class="smaller lighter">1:52am</span>
                                    </td>
                                    <td>
                                        <span>ARM Life Education Plan</span>
                                    </td>
                                    <td>
                                        <span>&#8358;72,246,000</span>
                                    </td>
                                    <td>
                                        <span>Pensions</span>
                                    </td>
                                    <td>
                                        Successful
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>Jan 21</span><br><span class="smaller lighter">1:52am</span>
                                    </td>
                                    <td>
                                        <span>ARM Life Education Plan</span>
                                    </td>
                                    <td>
                                        <span>&#8358;72,246,000</span>
                                    </td>
                                    <td>
                                        <span>Pensions</span>
                                    </td>
                                    <td>
                                        Successful
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>Jan 21</span><br><span class="smaller lighter">1:52am</span>
                                    </td>
                                    <td>
                                        <span>ARM Life Education Plan</span>
                                    </td>
                                    <td>
                                        <span>&#8358;72,246,000</span>
                                    </td>
                                    <td>
                                        <span>Pensions</span>
                                    </td>
                                    <td>
                                        Successful
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <!--------------------
                        END - Basic Table
                        -------------------->
                    </div>
                </div>
            </div>
            <!---- Investment Distribution  --->
            <div class="col-sm-12 col-lg-4 col-md-5 col-xxl-4">
                <div class="element-box less-padding">
                    <h5 class=" pb-2 b-b">
                        Investment Distribution
                    </h5>
                    <div class="el-chart-w">
                        <canvas height="120" id="donutChart1" width="120"></canvas>
                        <div class="inside-donut-chart-label">
                            <strong>&#8358;26.3m</strong><span>Spread</span>
                        </div>
                    </div>
                    <div class="el-legend condensed">
                        <div class="row">
                            <div class=" col-xxxxl-6 ml-sm-auto mr-sm-auto">
                                <div class="legend-value-w">
                                    <div class="legend-pin legend-pin-squared" style="background-color: #6896f9;"></div>
                                    <div class="legend-value">
                                        <span>Money Market Fund</span>
                                        <div class="legend-sub-value">
                                            17%, &#8358;12,200,420
                                        </div>
                                    </div>
                                </div>
                                <div class="legend-value-w">
                                    <div class="legend-pin legend-pin-squared" style="background-color: #85c751;"></div>
                                    <div class="legend-value">
                                        <span>Ethical Fund</span>
                                        <div class="legend-sub-value">
                                            22%, &#8358;2,200,4200
                                        </div>
                                    </div>
                                </div>

                                <div class="legend-value-w">
                                    <div class="legend-pin legend-pin-squared" style="background-color: #6896f9;"></div>
                                    <div class="legend-value">
                                        <span>Money Market Fund</span>
                                        <div class="legend-sub-value">
                                            17%, &#8358;12,200,420
                                        </div>
                                    </div>
                                </div>
                                <div class="legend-value-w">
                                    <div class="legend-pin legend-pin-squared" style="background-color: #85c751;"></div>
                                    <div class="legend-value">
                                        <span>Ethical Fund</span>
                                        <div class="legend-sub-value">
                                            22%, &#8358;2,200,4200
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!---- My Portfolio --->
<div class=" element-wrapper">

    <div class="row">
        <div class="col-md-12 ">
            <div class="element-box element-wrapper">
                <h5 class="element-header">
                    My Portfolio
                </h5>
                <div>
                    <div class=" col-md-12">
                        <div class="row ">
                            <div class="col-sm-6 col-lg-4 col-12 pb-4">
                                <a class="el-tablo highlight smaller cta-w cta-with-media mutual-purple" href="#">
                                    <div class="cta-content">
                                        <div class="highlight-header highlight-header-mutual">
                                            Mutual Funds
                                        </div>
                                        <h5 class="cta-header">
                                            Manage Mutual Funds Portfolio
                                        </h5>
                                        <img class="portfolio-sideicon" alt="" src="img/orders-icon.svg">
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-6 col-lg-4 col-12 pb-4">
                                <a class="el-tablo highlight smaller cta-w cta-with-media mutual-purple" href="#">
                                    <div class="cta-content">
                                        <div class="highlight-header highlight-header-pensions">
                                            Pensions
                                        </div>
                                        <h5 class="cta-header">
                                            Manage Pensions Account
                                        </h5>
                                        <img class="portfolio-sideicon" alt="" src="img/orders-icon.svg">
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-6 col-lg-4 col-12 pb-4">
                                <a class="el-tablo highlight smaller cta-w cta-with-media mutual-purple" href="#">
                                    <div class="cta-content">
                                        <div class="highlight-header highlight-header-life">
                                            Insurance
                                        </div>
                                        <h5 class="cta-header">
                                            Manage Insurance Portfolio
                                        </h5>
                                        <img class="portfolio-sideicon" alt="" src="img/orders-icon.svg">
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-6 col-lg-4 col-12 pb-4">
                                <a class="el-tablo highlight smaller cta-w cta-with-media mutual-purple" href="#">
                                    <div class="cta-content">
                                        <div class="highlight-header highlight-header-securities">
                                            Securities
                                        </div>
                                        <h5 class="cta-header">
                                            Manage Securities Portfolio
                                        </h5>
                                        <img class="portfolio-sideicon" alt="" src="img/orders-icon.svg">
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-6 col-lg-4 col-12 pb-4">
                                <a class="el-tablo highlight smaller cta-w cta-with-media mutual-purple" href="#">
                                    <div class="cta-content">
                                        <div class="highlight-header highlight-header-Trustee">
                                            Trustees
                                        </div>
                                        <h5 class="cta-header">
                                            Manage Trustees Portfolio
                                        </h5>
                                        <img class="portfolio-sideicon" alt="" src="img/orders-icon.svg">
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-6 col-lg-4 col-12 pb-4">
                                <a class="el-tablo highlight smaller cta-w cta-with-media mutual-purple" href="#">
                                    <div class="cta-content">
                                        <div class="highlight-header highlight-header-mixta">
                                            Real Estate
                                        </div>
                                        <h5 class="cta-header">
                                            Manage Real Estate Portfolio
                                        </h5>
                                        <img class="portfolio-sideicon" alt="" src="img/orders-icon.svg">
                                    </div>
                                </a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
