@model Portal.Business.ViewModels.ClientUpdateViewModel

@{
    ViewData["Title"] = "Client Update";
}

<!---- Page Title & Date --->
<div class="row">
    <div class="element-wrapper col-md-12 pb-0">
        <h6 class="element-header">
            Account Validation
            <span class="date-timestamp float-right">Jan 27th 2019, 7:42am</span>
        </h6>
    </div>
</div>
<!---- Uploads --->

<div class="row">
    <div class="col-md-12 col-xl-8">
        <div class="row">

            <div class="errMsg divlabel" style="color: brown;margin-left: 15px;margin-bottom: 10px;font-family: 'Gotham_book', sans-serif"></div>

            <form asp-action="AccountValidation" method="post" enctype="multipart/form-data" id="form-id">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="profile-tile border-nun">
                        <a class="profile-tile-box upload-prof" href="#">
                            <div class="pt-avatar-w br-zero">
                                <img alt="" class="upload-valid-img" src="img/upload-icon.svg">
                            </div>
                            <div class="pt-user-name">
                                Passport Photograph
                            </div>
                        </a>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="profile-tile border-nun">
                        <a class="profile-tile-box upload-prof" href="#">
                            <div class="pt-avatar-w br-zero">
                                <img alt="" class="upload-valid-img" src="img/upload-icon.svg">
                            </div>
                            <div class="pt-user-name">
                                Signature
                            </div>
                        </a>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="profile-tile border-nun">
                        <a class="profile-tile-box upload-prof" href="#">
                            <div class="pt-avatar-w br-zero">
                                <img alt="" class="upload-valid-img" src="img/upload-icon.svg">
                            </div>
                            <div class="pt-user-name">
                                Thumbprint
                            </div>
                        </a>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="profile-tile border-nun">
                        <a class="profile-tile-box upload-prof" href="#">
                            <div class="pt-avatar-w br-zero">
                                <img alt="" class="upload-valid-img" src="img/upload-icon.svg">
                            </div>
                            <div class="pt-user-name">
                                Valid Identification
                            </div>
                        </a>

                    </div>
                </div>

                <div class="col-lg-8 col-md-12 col-sm-12">

                    <div class="element-box">

                        <legend class="mb-0"><span>Applicable to US Citizens only</span></legend>

                        <div class="form-group">
                            <label for="">US Tax Number</label><input class="form-control" placeholder="enter tax number" type="text">
                        </div>


                        <div class="form-group">
                            <label for="">Jurisdiction</label><input class="form-control" placeholder="enter jurisdiction" type="text">
                        </div>

                    </div>
                </div>
                <div class="element-box content-box">
                    <div class="help-block form-text text-muted form-control-feedback text-center">
                        Kindly note that it takes between 24 & 48 hours to update your information
                    </div>
                    <div class=" col-md-12 text-center b-t">
                        <button class="mr-2 mt-2 btn btn-primary " type="button"> Submit</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div class="col-md-12 col-xl-4">
        <div class="element-box d-md-none d-lg-block">
            AD BANNER
        </div>
    </div>

</div>

@section Scripts{
    <script type="text/javascript">
            $(function () {
                $('#btnSubmit').prop('disabled', true);

                $("#passport").on('change', function (event) {
                    var file = event.target.files[0];

                    if (file.size >= 2 * 1024 * 1024) {
                        console.log("Only file sizes of maximum 2MB are allowed.");
                        $(".errMsg").text("Only file sizes of maximum 2MB are allowed.");
                        $(".errorPassport").text("*");
                        $('#btnSubmit').prop('disabled', true);
                        $("#form-id")[0].reset();
                        return;
                    }
                    else {
                        $(".errMsg").text("");
                        $(".errorPassport").text("");
                        $('#btnSubmit').prop('disabled', false);
                    }

                    if (!(file.type.match('image/jp.*') || file.type.match('image/png') || file.type.match('application/pdf'))) {
                        console.log("Only images (jpg/png) and pdf files are allowed.");
                        $(".errMsg").text("Only images (jpg/png) and pdf files are allowed.");
                        $(".errorPassport").text("*");
                        $('#btnSubmit').prop('disabled', true);
                        $("#form-id")[0].reset();
                        return;
                    }
                    else {
                        $(".errMsg").text("");
                        $(".errorPassport").text("");
                        $('#btnSubmit').prop('disabled', false);
                    }
                    
                });

                $("#signature").on('change', function (event) {
                    var file = event.target.files[0];

                    if (file.size >= 2 * 1024 * 1024) {
                        console.log("Only file sizes of maximum 2MB are allowed.");
                        $(".errMsg").text("Only file sizes of maximum 2MB are allowed.");
                        //$("#form-id").get(0).reset(); //the tricky part is to "empty" the input file here I reset the form.
                        $(".errorSignature").text("*");
                        $('#btnSubmit').prop('disabled', true);
                        $("#form-id")[0].reset();
                        return;
                    }
                    else {
                        $(".errMsg").text("");
                        $(".errorSignature").text("");
                        $('#btnSubmit').prop('disabled', false);
                    }

                    if (!(file.type.match('image/jp.*') || file.type.match('image/png') || file.type.match('application/pdf'))) {
                        console.log("Only images (jpg/png) and pdf files are allowed.");
                        $(".errMsg").text("Only images (jpg/png) and pdf files are allowed.");
                        //$("#form-id").get(0).reset(); //the tricky part is to "empty" the input file here I reset the form.
                        $(".errorSignature").text("*");
                        $('#btnSubmit').prop('disabled', true);
                        $("#form-id")[0].reset();
                        return;
                    }
                    else {
                        $(".errMsg").text("");
                        $(".errorSignature").text("");
                        $('#btnSubmit').prop('disabled', false);
                    }
                });

                $("#thumbprint").on('change', function (event) {
                    var file = event.target.files[0];

                    if (file.size >= 2 * 1024 * 1024) {
                        console.log("Only file sizes of maximum 2MB are allowed.");
                        $(".errMsg").text("Only file sizes of maximum 2MB are allowed.");
                        $(".errorThumbprint").text("*");
                        $('#btnSubmit').prop('disabled', true);
                        $("#form-id")[0].reset();
                        return;
                    }
                    else {
                        $(".errMsg").text("");
                        $(".errorThumbprint").text("");
                        $('#btnSubmit').prop('disabled', false);
                    }

                    if (!(file.type.match('image/jp.*') || file.type.match('image/png') || file.type.match('application/pdf'))) {
                        console.log("Only images (jpg/png) and pdf files are allowed.");
                        $(".errMsg").text("Only images (jpg/png) and pdf files are allowed.");
                        $(".errorThumbprint").text("*");
                        $('#btnSubmit').prop('disabled', true);
                        $("#form-id")[0].reset();
                        return;
                    }
                    else {
                        $(".errMsg").text("");
                        $(".errorThumbprint").text("");
                        $('#btnSubmit').prop('disabled', false);
                    }
                });

                $("#validid").on('change', function (event) {
                    var file = event.target.files[0];

                    if (file.size >= 2 * 1024 * 1024) {
                        console.log("Only file sizes of maximum 2MB are allowed.");
                        $(".errMsg").text("Only file sizes of maximum 2MB are allowed.");
                        $(".errorValidId").text("*");
                        $('#btnSubmit').prop('disabled', true);
                        $("#form-id")[0].reset();
                        return;
                    }
                    else {
                        $(".errMsg").text("");
                        $(".errorValidId").text("");
                        $('#btnSubmit').prop('disabled', false);
                    }

                    if (!(file.type.match('image/jp.*') || file.type.match('image/png') || file.type.match('application/pdf'))) {
                        console.log("Only images (jpg/png) and pdf files are allowed.");
                        $(".errMsg").text("Only images (jpg/png) and pdf files are allowed.");
                        $(".errorValidId").text("*");
                        $('#btnSubmit').prop('disabled', true);
                        $("#form-id")[0].reset();
                        return;
                    }
                    else {
                        $(".errMsg").text("");
                        $(".errorValidId").text("");
                        $('#btnSubmit').prop('disabled', false);
                    }
                });
            });
    </script>
}
