.brk-header:hover {
    top: 0!important
}

.admin-bar .brk-header:hover {
    top: 32px!important
}

@media (min-width: 992px) {
    .brk-header_border-top-dark {
        background-color: rgba(255, 255, 255, 0.75);
    }
}

.brk-header-mobile {
    background-color: #fff;
}

.prod-image {
    border-radius: 20px;
    box-shadow: 0 0 15px #d5d4d4;
}

.product-divider-marg {
    height: 4px;
    margin: 30px 0.1rem 30px;
}

.product-divider-marg-cent {
    height: 4px;
}

.menu-header-style {
    background-color: #fff;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.12), inset 0 -2px var(--brk-secondary-3);
}

.brk-sc-flip-two__price {
    font-size: 0.85rem !important;
    line-height: 15px !important;
}

.brk-sc-flip-two__thumb img {
    border-radius: 10px !important;
}

.dark-footer-bg {
    background-color: #293144;
}

.section-bg-stone {
    background-color: #c8beb6;
}

.pd-lr-50 {
    padding-left: 5rem;
    padding-right: 5rem;
}

.pd-lr-20 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.brk-checkout-order-item {
    min-width: 480px !important;
}

.checkout-small-desc {
    text-transform: none;
    font-size: 15px;
    color: #a4a4a4;
    text-align: justify!important;
}

.brk-tables-compare table td {
    padding-left: 24px !important;
    padding-right: 24px !important;
}

.brk-shop-grid-filter-strict__list ul {
    max-width: 220px !important;
}

.hom-headin {
    line-height: 30px;
    margin-left: 7rem;
    margin-right: 7rem;
}

.shop-setout__img {
    background-size: cover !important;
}

.shop-setout__link {
    padding: 10px 5px 4px !important;
}

.shop-setout__img:hover .add-cart {
    left: 66px !important;
}

@media (max-width: 375px) {
    .shop-setout__img:hover .add-cart {
        left: 76px !important;
    }
}

@media (min-width: 376px) and (max-width: 480px) {
    .shop-setout__img:hover .add-cart {
        left: 100px !important;
    }
}

.shop-setout__img .add-cart {
    left: 50% !important;
}

.shop-slider-text-hover {
    margin-left: -14px;
    color: black;
    white-space: nowrap;
    text-align: center;
}

.logo-set__img {
    opacity: 0.5 !important;
}

.logo-set__img:hover {
    opacity: 1!important;
}

@media (min-width: 992px) {
    .title__heading-06.title__heading-sub {
        font-size: 80px;
    }
}

.extra__heading-3 .after-heading {
    font-size: 55px !important;
    display: inherit !important;
    opacity: .1 !important;
}

@media (min-width: 992px) {
    .brk-search:not(.brk-search_interactive) .brk-search__header {
        display: none;
    }
}

.services-info {
    border: 1px solid rgba(76, 175, 80, 0.55) !important;
    border-radius: 4px;
}

.right-account-icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 30px;
    width: 22px;
    height: 18px;
    cursor: pointer;
}

.extra__heading-3 .btn {
    min-width: inherit !important;
    color: inherit !important;
    font-size: 14px;
    letter-spacing: inherit !important;
    border-radius: inherit !important;
    height: inherit !important;
    margin-left: inherit !important;
    margin-right: inherit !important;
    margin-bottom: inherit !important;
}

.extra__heading-3 .btn.btn-inside-out-invert>.before,
.extra__heading-3 .btn.btn-inside-out-invert>.after {
    color: inherit !important;
}

.extra__heading-3 .btn .text {
    color: inherit !important;
}

.extra__heading-3 .btn .icon-left {
    position: inherit !important;
    top: inherit !important;
    right: inherit !important;
    font-size: 24px;
    color: inherit !important;
}

.brk-info-menu-open .brk-lines {
    height: 0 !important;
}


/* Breadcrumbs on Mobile*/


/*.breadcrumbs__section .breadcrumb {
    display: block !important;
} */